table.rm-sport-banking {
  border:1px solid #d4d4d4;
  tr {
    border-bottom:1px solid #d4d4d4;
    .num {
      background:map_get($foundation-palette,'primary');
      color:#fff;
    }
  .call-to-action {

  }
  .bonus {
    font-style: normal;
    &:before {
      content:"Bonus";
      font-weight:bold;
      font-size:1.1rem;
      display:block;
    }
    a {

    }
  }}
}