/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.bookmakers-list-sidebar {
  list-style: none;
  margin-left: 0; }
  .bookmakers-list-sidebar #ladbrokes-australia-sport {
    background: #d1242b; }
  .bookmakers-list-sidebar #topbetta-sport {
    background: #26ab33; }
  .bookmakers-list-sidebar #betfair-sport {
    background: #fdb72f; }
  .bookmakers-list-sidebar #madbookie-sport {
    background: #252525; }
  .bookmakers-list-sidebar #unibet-sport {
    background: #1c7a47; }
  .bookmakers-list-sidebar #sportsbet-sport {
    background: #1381e2; }
  .bookmakers-list-sidebar #crownbet-sport {
    background: #8c5bad;
    border-right: 5px solid #fff;
    border-radius: 0 0 100px 0; }
  .bookmakers-list-sidebar #william-hill-sport {
    background: #0c457c; }
  .bookmakers-list-sidebar #luxbet-sport {
    background: #b31e3c; }
  .bookmakers-list-sidebar #bet365-sport {
    background: #027b5c; }
  .bookmakers-list-sidebar #palmerbet-sport {
    background: #393a40; }
  .bookmakers-list-sidebar > li {
    margin-bottom: 0; }
  .bookmakers-list-sidebar .top-banner {
    background: #537055;
    padding: 0.2rem 0.6rem 0.6rem; }
    .bookmakers-list-sidebar .top-banner .img-wrapper {
      float: left; }
      .bookmakers-list-sidebar .top-banner .img-wrapper .bet-logo {
        max-height: 20px;
        width: auto; }
    .bookmakers-list-sidebar .top-banner .links {
      text-align: right; }
      .bookmakers-list-sidebar .top-banner .links .sign-up {
        border: 2px solid #fff;
        text-transform: capitalize;
        color: #fff;
        background: #fa9621;
        border-radius: 4px;
        text-decoration: none;
        padding: 2px 12px;
        font-weight: 600;
        margin-top: 1.3rem;
        display: inline-block; }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
          .bookmakers-list-sidebar .top-banner .links .sign-up {
            margin-top: 3.5rem; } }
      .bookmakers-list-sidebar .top-banner .links .review-link {
        padding-right: 10px;
        color: #ffe082;
        font-size: 12px;
        text-transform: capitalize;
        display: block;
        margin-bottom: 10px; }
    .bookmakers-list-sidebar .top-banner .welcome-bonus {
      margin-top: 0.5rem;
      line-height: 1.2rem;
      text-align: left;
      color: #fefefe;
      position: absolute;
      bottom: 1.2rem;
      font-size: 0.9rem; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .bookmakers-list-sidebar .top-banner .welcome-bonus {
          bottom: 3.6rem; } }
      .bookmakers-list-sidebar .top-banner .welcome-bonus strong {
        text-decoration: underline;
        text-transform: uppercase; }
