/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.odd-quick-links {
  border: 1px solid #e8e8e8;
  margin: 0.65rem -0.65rem 0 -0.65rem;
  background: #619a65; }
  @media screen and (min-width: 53.125em) {
    .odd-quick-links {
      margin: 0; } }
  .odd-quick-links li {
    display: inline-block;
    border-right: 1px solid #818181;
    padding: 2px 10px; }
    @media screen and (min-width: 53.125em) {
      .odd-quick-links li {
        padding: 2px 25px; } }
    .odd-quick-links li a {
      color: #fff; }
    .odd-quick-links li:first-child {
      background: #f7f7f7;
      position: relative;
      border: none;
      text-transform: uppercase;
      font-style: italic; }
      .odd-quick-links li:first-child svg {
        position: absolute;
        height: 29px;
        width: 20px;
        right: 0;
        top: 0; }

#rm_odd_table_wrap {
  margin-bottom: 1rem; }
  #rm_odd_table_wrap a {
    text-decoration: none; }

.oc-event-box {
  background: #fff;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  color: #6c6c6c;
  overflow: hidden;
  margin-left: -0.65rem;
  margin-right: -0.65rem;
  margin-bottom: 1rem;
  /* GENERAL*/
  /* header-odd */ }
  @media screen and (min-width: 64em) {
    .oc-event-box {
      margin: 0 auto; } }
  @media screen and (min-width: 64em) {
    .oc-event-box {
      border-top: 1px solid #dedede;
      margin-bottom: 2rem; } }
  .oc-event-box .ladbrokes {
    background: #d1242b; }
  .oc-event-box .topbetta {
    background: #26ab33; }
  .oc-event-box .betfair {
    background: #fdb72f; }
  .oc-event-box .madbookie {
    background: #252525; }
  .oc-event-box .unibet {
    background: #1c7a47; }
  .oc-event-box .sportsbet-sport {
    background: #1381e2; }
  .oc-event-box .crownbet-sport {
    background: #8c5bad; }
  .oc-event-box .william-hill-sport {
    background: #0c457c; }
  .oc-event-box .luxbet-sport {
    background: #b31e3c; }
  .oc-event-box .bet365-sport {
    background: #027b5c; }
  .oc-event-box .palmerbet-sport {
    background: #393a40; }
  .oc-event-box .tab-nsw {
    background: #018752; }
  .oc-event-box .tab-vic {
    background: #018752; }
  .oc-event-box .oc-row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap; }
    .oc-event-box .oc-row .oc-row {
      align-items: center;
      margin-left: -0.652rem;
      margin-right: -0.652rem; }
      @media screen and (min-width: 64em) {
        .oc-event-box .oc-row .oc-row {
          margin-left: -0.9375rem;
          margin-right: -0.9375rem; } }
  .oc-event-box .oc-columns {
    flex: 1 1 0px;
    padding-left: .625rem;
    padding-right: .625rem;
    min-width: 0; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-columns {
        padding-left: .9375rem;
        padding-right: .9375rem; } }
  .oc-event-box .show {
    display: flex; }
  .oc-event-box .oc_p {
    display: none; }
  .oc-event-box .oc-header {
    background: #fff;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-header {
        background: #f4f4f4;
        border-bottom: 1px solid #e8e8e8; } }
    .oc-event-box .oc-header .header-box {
      max-width: none;
      justify-content: flex-start;
      align-items: center; }
      .oc-event-box .oc-header .header-box .weather-box {
        align-self: center;
        flex: 0 0 16.66667%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 16.66667%;
        text-align: right; }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-header .header-box .weather-box {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem; } }
        @media screen and (min-width: 64em) {
          .oc-event-box .oc-header .header-box .weather-box {
            flex: 0 0 50%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            max-width: 50%;
            display: block;
            padding: 0 !important; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .oc-event-box .oc-header .header-box .weather-box {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
        .oc-event-box .oc-header .header-box .weather-box ul {
          list-style: none;
          margin: 0.2rem 0.2rem 0 0;
          display: none; }
          @media screen and (min-width: 64em) {
            .oc-event-box .oc-header .header-box .weather-box ul {
              display: inline-block; } }
          .oc-event-box .oc-header .header-box .weather-box ul li {
            border: 1px solid #e8e8e8;
            background: #fff;
            font-size: 0.8rem;
            padding: 0 10px;
            margin-bottom: 0.2rem;
            text-align: left; }
            .oc-event-box .oc-header .header-box .weather-box ul li .data {
              color: #ffa037;
              float: right;
              padding-left: 2rem; }
        .oc-event-box .oc-header .header-box .weather-box .expend-race {
          color: #ccc;
          display: block;
          font-size: 1.4rem; }
          @media screen and (min-width: 64em) {
            .oc-event-box .oc-header .header-box .weather-box .expend-race {
              display: none; } }
      .oc-event-box .oc-header .header-box .event-title {
        padding: 0.5rem;
        flex: 0 0 83.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 83.33333%; }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-header .header-box .event-title {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem; } }
        @media screen and (min-width: 64em) {
          .oc-event-box .oc-header .header-box .event-title {
            flex: 0 0 50%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            max-width: 50%; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .oc-event-box .oc-header .header-box .event-title {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
        .oc-event-box .oc-header .header-box .event-title h3 {
          color: #3f3f3f;
          text-transform: capitalize;
          font-size: 1.1rem;
          float: left;
          margin: 0.4rem 0; }
          @media screen and (min-width: 64em) {
            .oc-event-box .oc-header .header-box .event-title h3 {
              float: none; } }
        .oc-event-box .oc-header .header-box .event-title h4 {
          color: #818181;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 0.9rem;
          display: none;
          margin: 0.4rem 0; }
          @media screen and (min-width: 64em) {
            .oc-event-box .oc-header .header-box .event-title h4 {
              display: block; } }
        .oc-event-box .oc-header .header-box .event-title .event-date-title {
          color: #00AA00;
          font-weight: 600;
          float: right;
          font-size: 1.1rem; }
          @media screen and (min-width: 64em) {
            .oc-event-box .oc-header .header-box .event-title .event-date-title {
              display: none; } }
  .oc-event-box .oc-details {
    display: none;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede; }
    .oc-event-box .oc-details.show-me {
      display: flex; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-details {
        display: flex; } }
    .oc-event-box .oc-details .oc-event-data {
      flex: 0 0 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%;
      padding: 0.5rem 0; }
      @media screen and (min-width: 53.125em) {
        .oc-event-box .oc-details .oc-event-data {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 64em) {
        .oc-event-box .oc-details .oc-event-data {
          flex: 0 0 50%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 50%;
          padding-bottom: 0; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .oc-event-box .oc-details .oc-event-data {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .oc-event-box .oc-details .oc-event-data .oc-race {
        flex: 0 0 66.66667%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 66.66667%;
        padding-left: 1.2rem; }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-details .oc-event-data .oc-race {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem; } }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-details .oc-event-data .oc-race {
            display: none; } }
        .oc-event-box .oc-details .oc-event-data .oc-race h4 {
          color: #818181;
          font-size: 1rem;
          text-transform: capitalize; }
        .oc-event-box .oc-details .oc-event-data .oc-race span {
          font-size: 0.9rem; }
      .oc-event-box .oc-details .oc-event-data .oc-date {
        display: none;
        font-size: 0.9rem; }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-details .oc-event-data .oc-date {
            display: block;
            flex: 0 0 58.33333%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            max-width: 58.33333%; } }
  @media screen and (min-width: 53.125em) and (min-width: 53.125em) {
    .oc-event-box .oc-details .oc-event-data .oc-date {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
        .oc-event-box .oc-details .oc-event-data .oc-date i {
          color: #ffa037;
          margin-right: 1rem;
          font-size: 1.5rem; }
      .oc-event-box .oc-details .oc-event-data .win-place {
        flex: 0 0 33.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 33.33333%; }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-details .oc-event-data .win-place {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem; } }
        @media screen and (min-width: 53.125em) {
          .oc-event-box .oc-details .oc-event-data .win-place {
            flex: 0 0 41.66667%;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            max-width: 41.66667%; } }
  @media screen and (min-width: 53.125em) and (min-width: 53.125em) {
    .oc-event-box .oc-details .oc-event-data .win-place {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
        .oc-event-box .oc-details .oc-event-data .win-place ul {
          list-style: none;
          margin-bottom: 0;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-align-items: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          float: right;
          padding-right: 0.5rem; }
          .oc-event-box .oc-details .oc-event-data .win-place ul li {
            border-radius: 0;
            font-size: 0.8rem;
            text-transform: uppercase;
            display: inline;
            padding: 0.1rem 0.4rem;
            background-color: #ffae00;
            border: 2px solid #ffae00; }
            .oc-event-box .oc-details .oc-event-data .win-place ul li a {
              color: #fefefe; }
            .oc-event-box .oc-details .oc-event-data .win-place ul li:first-child {
              border-radius: 6px 0 0 6px; }
            .oc-event-box .oc-details .oc-event-data .win-place ul li:last-child {
              border-radius: 0 6px 6px 0; }
            .oc-event-box .oc-details .oc-event-data .win-place ul li.outline {
              background: #fefefe; }
              .oc-event-box .oc-details .oc-event-data .win-place ul li.outline a {
                color: #ffae00; }
    .oc-event-box .oc-details .oc-bookmakers-list {
      display: none; }
      @media screen and (min-width: 64em) {
        .oc-event-box .oc-details .oc-bookmakers-list {
          flex: 0 0 50%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 50%;
          display: flex; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .oc-event-box .oc-details .oc-bookmakers-list {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .oc-event-box .oc-details .oc-bookmakers-list > .oc-row > .oc-columns {
        padding-top: 2px;
        padding-bottom: 5px; }
  .oc-event-box .oc-freebet {
    display: none;
    border-bottom: 1px solid #dedede;
    background: #f4f4f4; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-freebet {
        display: flex; } }
    .oc-event-box .oc-freebet .oc-bookmakers-bet {
      flex: 0 0 50%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 50%;
      color: #fefefe;
      font-size: 0.9rem; }
      @media screen and (min-width: 53.125em) {
        .oc-event-box .oc-freebet .oc-bookmakers-bet {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      .oc-event-box .oc-freebet .oc-bookmakers-bet > .oc-row > .oc-columns {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem; }
    .oc-event-box .oc-freebet .oc-book-makers-text {
      flex: 0 0 50%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 50%; }
      @media screen and (min-width: 53.125em) {
        .oc-event-box .oc-freebet .oc-book-makers-text {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      .oc-event-box .oc-freebet .oc-book-makers-text .free-text {
        text-align: right;
        display: block;
        width: 100%;
        padding-right: 0.5rem; }
  .oc-event-box .oc-bet-buttons {
    display: none;
    border-bottom: 1px solid #dedede; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-bet-buttons {
        display: flex; } }
    .oc-event-box .oc-bet-buttons .bet-text {
      text-align: right; }
    .oc-event-box .oc-bet-buttons .oc-bookmakers-bet {
      flex: 0 0 50%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 50%;
      color: #fefefe;
      font-size: 0.9rem; }
      @media screen and (min-width: 53.125em) {
        .oc-event-box .oc-bet-buttons .oc-bookmakers-bet {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      .oc-event-box .oc-bet-buttons .oc-bookmakers-bet a {
        color: #fefefe; }
      .oc-event-box .oc-bet-buttons .oc-bookmakers-bet > .oc-row > .oc-columns {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center; }
    .oc-event-box .oc-bet-buttons .oc-bet-buttons-text {
      flex: 0 0 50%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 50%; }
      @media screen and (min-width: 53.125em) {
        .oc-event-box .oc-bet-buttons .oc-bet-buttons-text {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      .oc-event-box .oc-bet-buttons .oc-bet-buttons-text .free-text {
        text-align: right;
        display: block;
        width: 100%;
        padding-right: 0.5rem; }
  .oc-event-box .oc-competitors-list {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    display: none; }
    .oc-event-box .oc-competitors-list.show-me {
      display: block; }
    @media screen and (min-width: 64em) {
      .oc-event-box .oc-competitors-list {
        display: block; } }
    .oc-event-box .oc-competitors-list .oc-competitor {
      border-bottom: 1px solid #ededed;
      flex: 0 0 100%;
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
      border-bottom: 1px solid #ededed; }
      .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0; }
        @media screen and (min-width: 64em) {
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details {
            flex: 0 0 50%;
            max-width: 50%; } }
        .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details > .oc-row {
          margin-left: 0;
          margin-right: 0; }
        .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info {
          flex: 1 1 0px;
          min-width: 0;
          align-items: center; }
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .silk {
            float: left;
            display: block;
            width: 33px;
            margin: .4rem 0.4rem 0.4rem 0.4rem;
            width: 20px; }
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .competitor-details {
            float: left;
            font-size: 0.8rem;
            color: #363636;
            max-width: 9.2rem;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            min-height: 38px; }
            .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .competitor-details .racing-sub-info {
              width: 100%; }
            .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .competitor-details .racing-details {
              align-self: center; }
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .sparkline {
            float: right;
            max-width: 40px;
            overflow: hidden;
            padding-top: 0.4rem; }
            @media screen and (min-width: 64em) {
              .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .sparkline {
                margin-right: 0.4rem; } }
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .expend-bets {
            background: #ffae00;
            color: #fefefe;
            float: right;
            height: 22px;
            padding: .2rem 0.3rem;
            text-align: center;
            cursor: pointer;
            border-radius: 6px;
            display: block;
            border-bottom: 2px solid #F77832;
            margin-right: 0.4rem;
            margin-top: 0.5rem; }
            @media screen and (min-width: 64em) {
              .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .expend-bets {
                display: none; } }
          .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet {
            float: right;
            border-left: 1px solid #ccc;
            min-height: 38px;
            color: #000;
            font-weight: 600;
            font-size: .7rem;
            width: 106px;
            overflow: hidden;
            display: block;
            padding-top: 0.55rem;
            text-align: right; }
            @media screen and (max-width: 63.9375em) {
              .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet {
                width: 90px;
                border-left: none; }
                .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet a {
                  color: #3f3f3f; } }
            @media screen and (min-width: 64em) {
              .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet .best-bet-title {
                display: none; } }
            .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet img {
              padding-left: 0.4rem;
              max-width: 45px;
              margin-right: 0.4rem; }
              @media screen and (min-width: 64em) {
                .oc-event-box .oc-competitors-list .oc-competitor .oc-competitor-details .competitor-info .best-bet img {
                  display: inline;
                  max-width: 60px; } }
    .oc-event-box .oc-competitors-list .agency-bets-list {
      flex: 0 0 100%;
      max-width: 100%;
      display: none; }
      .oc-event-box .oc-competitors-list .agency-bets-list.show-me {
        display: block; }
      @media screen and (min-width: 64em) {
        .oc-event-box .oc-competitors-list .agency-bets-list {
          flex: 0 0 50%;
          max-width: 50%;
          display: block; } }
      .oc-event-box .oc-competitors-list .agency-bets-list .place {
        display: none; }
      .oc-event-box .oc-competitors-list .agency-bets-list .ab-box {
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        align-items: center; }
        @media screen and (max-width: 63.9375em) {
          .oc-event-box .oc-competitors-list .agency-bets-list .ab-box {
            border-left: 3px solid #ffae00;
            background: #f4f4f4; } }
        .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns {
          font-size: 0.8rem;
          text-align: center;
          border-left: 1px solid #dedede;
          height: 100%;
          padding-top: 0.9rem;
          min-height: 38px;
          position: relative; }
          @media screen and (max-width: 63.9375em) {
            .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns {
              -webkit-flex: 0 0 100%;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              border-bottom: 1px solid #dedede;
              text-align: right;
              padding: 0.4rem 0.4rem;
              height: auto;
              font-weight: 600;
              font-size: 1.0rem; } }
          .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns img {
            float: left;
            max-width: 56px; }
            @media screen and (min-width: 64em) {
              .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns img {
                display: none; } }
          .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns .bet-button {
            font-size: 80%;
            background: #49be43;
            color: #fff;
            font-weight: normal;
            border-radius: 6px;
            padding: 0.2rem 0.8rem;
            border-bottom: 1px solid #2f5212;
            margin-left: 1rem; }
            @media screen and (min-width: 64em) {
              .oc-event-box .oc-competitors-list .agency-bets-list .ab-box > .oc-columns .bet-button {
                display: none; } }
