/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.casino-promo-list {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-left: 0; }
  .casino-promo-list > li {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e8e8e8;
    justify-content: flex-start;
    align-items: center; }
  .casino-promo-list .rank {
    color: #ccc;
    font-weight: normal;
    border-right: 1px solid #e8e8e8;
    padding-right: 0.65rem;
    margin-right: 0.65rem; }
  .casino-promo-list .title {
    color: #1a8dc5;
    font-weight: 600;
    flex: 0 0 91.66667%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 91.66667%;
    border-right: 1px solid #e8e8e8; }
    @media screen and (min-width: 40em) {
      .casino-promo-list .title {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
      .casino-promo-list .title {
        flex: 0 0 33.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 33.33333%;
        border-right: none; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    .casino-promo-list .title {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .casino-promo-list .promotion {
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%;
    display: none; }
    @media screen and (min-width: 40em) {
      .casino-promo-list .promotion {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .casino-promo-list .promotion div {
      min-height: 47px; }
    @media screen and (min-width: 64em) {
      .casino-promo-list .promotion {
        flex: 0 0 58.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 58.33333%;
        order: 3;
        display: flex;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        min-height: 47px; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    .casino-promo-list .promotion {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .casino-promo-list .call-to-action {
    padding: 0 !important;
    flex: 0 0 8.33333%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 8.33333%;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .casino-promo-list .call-to-action {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
      .casino-promo-list .call-to-action {
        flex: 0 0 8.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 8.33333%;
        order: 4;
        border-right: none; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    .casino-promo-list .call-to-action {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .casino-promo-list .call-to-action .action-button {
      display: none;
      background: #ffa037;
      color: #fefefe;
      font-weight: 600;
      border-radius: 3px;
      padding: 3px 8px;
      text-shadow: 1px 1px #636161;
      border-bottom: 2px solid #c17426;
      font-size: 0.9rem; }
      @media screen and (min-width: 64em) {
        .casino-promo-list .call-to-action .action-button {
          display: inline-block; } }
    .casino-promo-list .call-to-action .small-action {
      display: inline;
      padding: 0rem 0.55rem;
      background: #24b740;
      border-radius: 100%;
      color: #fff; }
      @media screen and (min-width: 64em) {
        .casino-promo-list .call-to-action .small-action {
          display: none; } }
