/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: not-allowed; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   * [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling.
   */
/* fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  } */
/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.foundation-mq {
  font-family: "small=0em&medium=53.125em&large=64em&xlarge=75em&xxlarge=90em"; }

html {
  font-size: 16px;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #404040;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }

select {
  width: 100%;
  border-radius: 0; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1; }
  [data-whatinput='mouse'] button {
    outline: 0; }

.is-visible {
  display: block !important; }

.is-hidden {
  display: none !important; }

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap; }
  .row .row {
    max-width: none;
    margin-left: -0.625rem;
    margin-right: -0.625rem; }
    @media screen and (min-width: 53.125em) {
      .row .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
  .row.expanded {
    max-width: none; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.column, .columns {
  flex: 1 1 0px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  min-width: initial; }
  @media screen and (min-width: 53.125em) {
    .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.column.row.row, .row.row.columns {
  float: none;
  display: block; }
  .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-order-1 {
  order: 1; }

.small-order-2 {
  order: 2; }

.small-order-3 {
  order: 3; }

.small-order-4 {
  order: 4; }

.small-order-5 {
  order: 5; }

.small-order-6 {
  order: 6; }

.small-up-1 {
  flex-wrap: wrap; }
  .small-up-1 > .column, .small-up-1 > .columns {
    flex: 0 0 100%;
    max-width: 100%; }

.small-up-2 {
  flex-wrap: wrap; }
  .small-up-2 > .column, .small-up-2 > .columns {
    flex: 0 0 50%;
    max-width: 50%; }

.small-up-3 {
  flex-wrap: wrap; }
  .small-up-3 > .column, .small-up-3 > .columns {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

.small-up-4 {
  flex-wrap: wrap; }
  .small-up-4 > .column, .small-up-4 > .columns {
    flex: 0 0 25%;
    max-width: 25%; }

.small-up-5 {
  flex-wrap: wrap; }
  .small-up-5 > .column, .small-up-5 > .columns {
    flex: 0 0 20%;
    max-width: 20%; }

.small-up-6 {
  flex-wrap: wrap; }
  .small-up-6 > .column, .small-up-6 > .columns {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

.small-up-7 {
  flex-wrap: wrap; }
  .small-up-7 > .column, .small-up-7 > .columns {
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }

.small-up-8 {
  flex-wrap: wrap; }
  .small-up-8 > .column, .small-up-8 > .columns {
    flex: 0 0 12.5%;
    max-width: 12.5%; }

.small-collapse > .column, .small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

@media screen and (min-width: 53.125em) {
  .medium-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-order-1 {
    order: 1; }
  .medium-order-2 {
    order: 2; }
  .medium-order-3 {
    order: 3; }
  .medium-order-4 {
    order: 4; }
  .medium-order-5 {
    order: 5; }
  .medium-order-6 {
    order: 6; }
  .medium-up-1 {
    flex-wrap: wrap; }
    .medium-up-1 > .column, .medium-up-1 > .columns {
      flex: 0 0 100%;
      max-width: 100%; }
  .medium-up-2 {
    flex-wrap: wrap; }
    .medium-up-2 > .column, .medium-up-2 > .columns {
      flex: 0 0 50%;
      max-width: 50%; }
  .medium-up-3 {
    flex-wrap: wrap; }
    .medium-up-3 > .column, .medium-up-3 > .columns {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
  .medium-up-4 {
    flex-wrap: wrap; }
    .medium-up-4 > .column, .medium-up-4 > .columns {
      flex: 0 0 25%;
      max-width: 25%; }
  .medium-up-5 {
    flex-wrap: wrap; }
    .medium-up-5 > .column, .medium-up-5 > .columns {
      flex: 0 0 20%;
      max-width: 20%; }
  .medium-up-6 {
    flex-wrap: wrap; }
    .medium-up-6 > .column, .medium-up-6 > .columns {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; }
  .medium-up-7 {
    flex-wrap: wrap; }
    .medium-up-7 > .column, .medium-up-7 > .columns {
      flex: 0 0 14.28571%;
      max-width: 14.28571%; }
  .medium-up-8 {
    flex-wrap: wrap; }
    .medium-up-8 > .column, .medium-up-8 > .columns {
      flex: 0 0 12.5%;
      max-width: 12.5%; } }

@media screen and (min-width: 53.125em) and (min-width: 53.125em) {
  .medium-expand {
    flex: 1 1 0px; } }

.row.medium-unstack > .column, .row.medium-unstack > .columns {
  flex: 0 0 100%; }
  @media screen and (min-width: 53.125em) {
    .row.medium-unstack > .column, .row.medium-unstack > .columns {
      flex: 1 1 0px; } }

@media screen and (min-width: 53.125em) {
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }

@media screen and (min-width: 64em) {
  .large-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-order-1 {
    order: 1; }
  .large-order-2 {
    order: 2; }
  .large-order-3 {
    order: 3; }
  .large-order-4 {
    order: 4; }
  .large-order-5 {
    order: 5; }
  .large-order-6 {
    order: 6; }
  .large-up-1 {
    flex-wrap: wrap; }
    .large-up-1 > .column, .large-up-1 > .columns {
      flex: 0 0 100%;
      max-width: 100%; }
  .large-up-2 {
    flex-wrap: wrap; }
    .large-up-2 > .column, .large-up-2 > .columns {
      flex: 0 0 50%;
      max-width: 50%; }
  .large-up-3 {
    flex-wrap: wrap; }
    .large-up-3 > .column, .large-up-3 > .columns {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
  .large-up-4 {
    flex-wrap: wrap; }
    .large-up-4 > .column, .large-up-4 > .columns {
      flex: 0 0 25%;
      max-width: 25%; }
  .large-up-5 {
    flex-wrap: wrap; }
    .large-up-5 > .column, .large-up-5 > .columns {
      flex: 0 0 20%;
      max-width: 20%; }
  .large-up-6 {
    flex-wrap: wrap; }
    .large-up-6 > .column, .large-up-6 > .columns {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; }
  .large-up-7 {
    flex-wrap: wrap; }
    .large-up-7 > .column, .large-up-7 > .columns {
      flex: 0 0 14.28571%;
      max-width: 14.28571%; }
  .large-up-8 {
    flex-wrap: wrap; }
    .large-up-8 > .column, .large-up-8 > .columns {
      flex: 0 0 12.5%;
      max-width: 12.5%; } }

@media screen and (min-width: 64em) and (min-width: 64em) {
  .large-expand {
    flex: 1 1 0px; } }

.row.large-unstack > .column, .row.large-unstack > .columns {
  flex: 0 0 100%; }
  @media screen and (min-width: 64em) {
    .row.large-unstack > .column, .row.large-unstack > .columns {
      flex: 1 1 0px; } }

@media screen and (min-width: 64em) {
  .large-collapse > .column, .large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; } }

.shrink {
  flex: 0 0 auto;
  max-width: 100%; }

.column.align-top, .align-top.columns {
  align-self: flex-start; }

.column.align-bottom, .align-bottom.columns {
  align-self: flex-end; }

.column.align-middle, .align-middle.columns {
  align-self: center; }

.column.align-stretch, .align-stretch.columns {
  align-self: stretch; }

.align-right {
  justify-content: flex-end; }

.align-center {
  justify-content: center; }

.align-justify {
  justify-content: space-between; }

.align-spaced {
  justify-content: space-around; }

.align-top {
  align-items: flex-start; }

.align-self-top {
  align-self: flex-start; }

.align-bottom {
  align-items: flex-end; }

.align-self-bottom {
  align-self: flex-end; }

.align-middle {
  align-items: center; }

.align-self-middle {
  align-self: center; }

.align-stretch {
  align-items: stretch; }

.align-self-stretch {
  align-self: stretch; }

.small-order-1 {
  order: 1; }

.small-order-2 {
  order: 2; }

.small-order-3 {
  order: 3; }

.small-order-4 {
  order: 4; }

.small-order-5 {
  order: 5; }

.small-order-6 {
  order: 6; }

@media screen and (min-width: 53.125em) {
  .medium-order-1 {
    order: 1; }
  .medium-order-2 {
    order: 2; }
  .medium-order-3 {
    order: 3; }
  .medium-order-4 {
    order: 4; }
  .medium-order-5 {
    order: 5; }
  .medium-order-6 {
    order: 6; } }

@media screen and (min-width: 64em) {
  .large-order-1 {
    order: 1; }
  .large-order-2 {
    order: 2; }
  .large-order-3 {
    order: 3; }
  .large-order-4 {
    order: 4; }
  .large-order-5 {
    order: 5; }
  .large-order-6 {
    order: 6; } }

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #404040;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 100%; }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: #646464;
    line-height: 0; }

h1 {
  font-size: 1.25rem; }

h2 {
  font-size: 1.125rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.875rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

@media screen and (min-width: 53.125em) {
  h1 {
    font-size: 1.5rem; }
  h2 {
    font-size: 1.125rem; }
  h3 {
    font-size: 1rem; }
  h4 {
    font-size: 1rem; }
  h5 {
    font-size: 0.875rem; }
  h6 {
    font-size: 0.75rem; } }

a {
  color: #3993d3;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer; }
  a:hover, a:focus {
    color: #2a80bd; }
  a img {
    border: 0; }

hr {
  max-width: 75rem;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #646464;
  border-left: 0;
  margin: 1.25rem auto;
  clear: both; }

ul,
ol,
dl {
  line-height: 1.6;
  margin-bottom: 1rem;
  list-style-position: outside; }

li {
  font-size: inherit; }

ul {
  list-style-type: disc;
  margin-left: 1.25rem; }

ol {
  margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold; }

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #646464; }
  blockquote, blockquote p {
    line-height: 1.6;
    color: #404040; }

cite {
  display: block;
  font-size: 0.8125rem;
  color: #404040; }
  cite:before {
    content: '\2014 \0020'; }

abbr {
  color: #404040;
  cursor: help;
  border-bottom: 1px dotted #404040; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #404040;
  background-color: #818181;
  border: 1px solid #646464;
  padding: 0.125rem 0.3125rem 0.0625rem; }

kbd {
  padding: 0.125rem 0.25rem 0;
  margin: 0;
  background-color: #818181;
  color: #404040;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }

.subheader {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 1.4;
  color: #404040; }

.lead {
  font-size: 20px;
  line-height: 1.6; }

.stat {
  font-size: 2.5rem;
  line-height: 1; }
  p + .stat {
    margin-top: -1rem; }

.no-bullet {
  margin-left: 0;
  list-style: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

@media screen and (min-width: 53.125em) {
  .medium-text-left {
    text-align: left; }
  .medium-text-right {
    text-align: right; }
  .medium-text-center {
    text-align: center; }
  .medium-text-justify {
    text-align: justify; } }

@media screen and (min-width: 64em) {
  .large-text-left {
    text-align: left; }
  .large-text-right {
    text-align: right; }
  .large-text-center {
    text-align: center; }
  .large-text-justify {
    text-align: justify; } }

.show-for-print {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  .show-for-print {
    display: block !important; }
  .hide-for-print {
    display: none !important; }
  table.show-for-print {
    display: table !important; }
  thead.show-for-print {
    display: table-header-group !important; }
  tbody.show-for-print {
    display: table-row-group !important; }
  tr.show-for-print {
    display: table-row !important; }
  td.show-for-print {
    display: table-cell !important; }
  th.show-for-print {
    display: table-cell !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  pre,
  blockquote {
    border: 1px solid #404040;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

@media screen and (max-width: 53.0625em) {
  .hide-for-small-only {
    display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 53.125em) {
  .show-for-small-only {
    display: none !important; } }

@media screen and (min-width: 53.125em) {
  .hide-for-medium {
    display: none !important; } }

@media screen and (max-width: 53.0625em) {
  .show-for-medium {
    display: none !important; } }

@media screen and (min-width: 53.125em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important; } }

@media screen and (max-width: 53.0625em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important; } }

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important; } }

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; } }

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.show-on-focus:active, .show-on-focus:focus {
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto; }

.show-for-landscape,
.hide-for-portrait {
  display: block !important; }
  @media screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
      display: block !important; } }
  @media screen and (orientation: portrait) {
    .show-for-landscape,
    .hide-for-portrait {
      display: none !important; } }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }
  @media screen and (orientation: landscape) {
    .hide-for-landscape,
    .show-for-portrait {
      display: none !important; } }
  @media screen and (orientation: portrait) {
    .hide-for-landscape,
    .show-for-portrait {
      display: block !important; } }

.pagination {
  margin-left: 0;
  margin-bottom: 1rem; }
  .pagination::before, .pagination::after {
    content: ' ';
    display: table; }
  .pagination::after {
    clear: both; }
  .pagination li {
    font-size: 0.875rem;
    margin-right: 0.0625rem;
    border-radius: 0;
    display: none; }
    .pagination li:last-child, .pagination li:first-child {
      display: inline-block; }
    @media screen and (min-width: 53.125em) {
      .pagination li {
        display: inline-block; } }
  .pagination a,
  .pagination button {
    color: #404040;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0; }
    .pagination a:hover,
    .pagination button:hover {
      background: #818181; }
  .pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #0d72b6;
    color: #fefefe;
    cursor: default; }
  .pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #646464;
    cursor: not-allowed; }
    .pagination .disabled:hover {
      background: transparent; }
  .pagination .ellipsis::after {
    content: '\2026';
    padding: 0.1875rem 0.625rem;
    color: #404040; }

.pagination-previous a::before,
.pagination-previous.disabled::before {
  content: '\00ab';
  display: inline-block;
  margin-right: 0.5rem; }

.pagination-next a::after,
.pagination-next.disabled::after {
  content: '\00bb';
  display: inline-block;
  margin-left: 0.5rem; }

.right {
  float: right; }

.left {
  float: left; }

.show {
  display: block; }

.hide {
  display: none; }

h2 {
  font-weight: bold;
  font-size: 1.2rem; }

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

.highlight-box {
  background: #e1e1e1;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center; }
  .highlight-box h1 {
    color: #037b5d;
    font-size: 1.7rem;
    text-transform: uppercase; }

figure {
  max-width: 100% !important; }

.dc-social.row {
  margin: 1rem 0;
  text-align: left; }
  .dc-social.row a {
    padding: 0.4rem 1rem; }
    .dc-social.row a:hover {
      color: #b9e5ff; }

.facebook-button {
  color: #fff;
  background: #0a61cc; }

.twitter-button {
  color: #fff;
  background: #1fb7da; }

.author-description {
  margin: 1rem 0;
  background: #fff;
  padding: 1rem;
  font-size: .9rem;
  color: #585757; }

.header {
  background: #0d3258;
  padding: 0; }
  .header > .row {
    min-height: 75px; }
  .header .logo-header {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    margin-bottom: 1rem; }
    .header .logo-header img {
      height: 30px; }

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 52px;
  height: 52px;
  outline: none; }

#mobile-icon.light:after {
  background: #cccccc;
  box-shadow: 0 10px 0 #ccc,0 20px 0 #ccc; }

.menu-icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: #2b88d2;
  top: 13px;
  left: 0;
  box-shadow: 0 10px 0 #2b88d2, 0 20px 0 #2b88d2;
  border-radius: 5px; }

#searchform {
  position: relative;
  display: inline-block;
  padding-top: 12px; }

#s {
  background: #646464;
  border: none;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: capitalize;
  line-height: 29px;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #fff;
  padding-left: 0.5rem; }
  #s::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fefefe; }
  #s::-moz-placeholder {
    /* Firefox 19+ */
    color: #fefefe; }
  #s:-ms-input-placeholder {
    /* IE 10+ */
    color: #fefefe; }
  #s:-moz-placeholder {
    /* Firefox 18- */
    color: #fefefe; }

#search-submit {
  border: none;
  position: absolute;
  right: 0.4rem;
  color: rgba(204, 204, 204, 0.31);
  margin-top: 2px;
  margin-left: 2px;
  top: 0.9rem;
  height: 20px;
  width: 20px; }

.search .social img {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
  margin-top: -4px; }

.no-scroll {
  overflow: hidden;
  position: fixed; }

article.main-content ul.bullets {
  list-style-type: disc;
  padding-left: 1rem; }

@media (max-width: 64rem) {
  .banner {
    margin-top: 4.8rem; } }

.footer {
  background: #404040;
  color: #fefefe;
  margin-bottom: 1rem; }
  .footer .footer-widgets {
    padding: 0; }
    .footer .footer-widgets h3 {
      color: #dce1e7;
      font-style: italic;
      font-size: .9rem;
      font-weight: 600;
      font-family: 'open-sans',Arial,sans-serif; }
    .footer .footer-widgets .menu {
      margin: 0; }
      .footer .footer-widgets .menu li {
        list-style: none;
        font-size: 0.7rem; }
        .footer .footer-widgets .menu li a {
          color: #afb1b4; }

.footer-top {
  background: #404040;
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.5);
  font-size: 80%;
  padding: 1rem 0; }
  .footer-top img {
    max-height: 35px; }

.footer-bottom {
  padding-top: 1.875rem;
  background: black;
  padding-bottom: 1.875rem; }
  .footer-bottom:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 53.0625em) {
    .footer-bottom article {
      flex: 0 0 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%;
      text-align: center; } }
  @media screen and (max-width: 53.0625em) and (min-width: 53.125em) {
    .footer-bottom article {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.copyright {
  color: #818181;
  font-size: 80%;
  text-align: center;
  margin-top: 0.5rem; }

@media (min-width: 40rem) {
  .footer-bottom .social-list-wrapper {
    text-align: left; } }

.brmc-newsletter {
  text-align: center; }
  .brmc-newsletter .description {
    margin-left: 132px;
    color: #98989a;
    font-size: 0.7rem;
    font-style: italic;
    max-width: 280px;
    line-height: 1rem; }
  .brmc-newsletter h3 {
    text-align: center; }
  .brmc-newsletter .logo-wrapper {
    text-align: center; }
  .brmc-newsletter .logo-wrapper img {
    max-height: 30px;
    margin-bottom: 1rem;
    display: block; }
  .brmc-newsletter small {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    color: #818181; }
  .brmc-newsletter .email {
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    border: 1px solid #fff;
    font-size: 0.8rem;
    height: 28px;
    min-width: 280px;
    display: block;
    margin: 1rem auto; }
  .brmc-newsletter .submit {
    margin-left: 0.5rem;
    background: #38a063;
    border: 1px solid #38a063;
    color: #f1f1f1;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    height: 28px;
    min-height: inherit;
    margin-bottom: 0.8rem; }
    .brmc-newsletter .submit:hover {
      background: #24a04a; }
    .brmc-newsletter .submit.hollow {
      border: 1px solid #38a063;
      background: transparent;
      color: #38a063; }
  .brmc-newsletter .geton-logo {
    width: 120px;
    margin-right: 0.5rem; }
  .brmc-newsletter .logo-wrappers {
    margin: 1rem 0; }
    .brmc-newsletter .logo-wrappers img {
      max-width: 170px;
      margin-right: 1rem; }

.mc4wp-form-success {
  display: block;
  max-width: 100%;
  color: #15bb69;
  text-align: center;
  margin-top: 1rem; }

.mc4wp-error {
  background: #ec5840;
  color: #fefefe;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center; }

@media (min-width: 40rem) {
  .brmc-newsletter {
    text-align: left; }
    .brmc-newsletter .logo-wrapper {
      text-align: left; }
      .brmc-newsletter .logo-wrapper img {
        text-align: left;
        display: inline; }
    .brmc-newsletter .submit {
      margin-bottom: 0; }
    .brmc-newsletter h3 {
      text-align: left; }
    .brmc-newsletter .email {
      display: inline;
      margin: 0; } }

.desktop-menu-wrapper {
  background: #646464;
  position: relative; }

.desktop-menu-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 4; }

ul.menu li {
  list-style: none; }

.desktop-menu {
  display: table;
  width: 100%;
  margin: 0;
  list-style-type: none;
  table-layout: fixed;
  padding-left: 0; }
  .desktop-menu > li {
    position: relative; }
    .desktop-menu > li.highlight > a {
      position: absolute;
      width: 100%;
      padding: .9rem 0;
      bottom: 0;
      font-weight: bold;
      text-transform: uppercase;
      background: #646464; }
  .desktop-menu ul.sub-menu {
    margin-left: 0; }
    .desktop-menu ul.sub-menu li {
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
      float: none;
      white-space: nowrap;
      clear: both; }
      .desktop-menu ul.sub-menu li a {
        display: block;
        float: none;
        width: 100%; }
  .desktop-menu > li {
    display: table-cell;
    border-left: 1px solid #555555;
    text-align: center;
    vertical-align: middle;
    position: relative; }
    .desktop-menu > li:hover > a {
      color: #fff; }
    .desktop-menu > li a {
      color: #d9d9d9;
      display: block;
      font-size: .8rem;
      padding: .5rem 0; }
    .desktop-menu > li a:hover ~ ul {
      display: block; }
    .desktop-menu > li > ul {
      position: absolute;
      float: left;
      width: auto;
      min-width: 100%;
      top: 2.2rem;
      left: 0;
      display: none;
      -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      z-index: 6; }
      .desktop-menu > li > ul:hover {
        display: block; }
      .desktop-menu > li > ul li {
        background: #fff; }
        .desktop-menu > li > ul li > a {
          color: #222;
          padding: 0.5rem 1rem 0.5rem 1rem;
          text-align: center;
          font-weight: 400;
          border-right: none; }
          .desktop-menu > li > ul li > a:hover {
            background: #dedede; }
  .desktop-menu li > ul li li {
    border-top: 1px solid #ccc;
    text-transform: uppercase; }
    .desktop-menu li > ul li li a {
      color: #ccc;
      font-weight: bold; }
  .desktop-menu > li.menu-item-has-children > a:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.5rem; }

.next-prev-links {
  margin: 1rem;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding: 0.2rem 1rem;
  font-size: 0.9rem; }
  .next-prev-links a {
    cursor: pointer; }
    .next-prev-links a i {
      color: #3993d3; }

input.mobile-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 50px;
  opacity: 0;
  cursor: pointer; }
  input.mobile-menu-button:checked ~ .mobile-navigation {
    display: block; }

#menu-mobile > li > a ~ i, #menu-mobile > li > a ~ input[type=checkbox] {
  font-size: 1.4rem;
  position: absolute;
  padding-right: 1.2rem;
  padding-top: .55rem;
  right: 0;
  top: 0; }

#menu-mobile > li > a ~ input[type=checkbox]:checked ~ ul {
  display: block; }

#menu-mobile > li > a ~ input[type=checkbox] ~ ul {
  display: none; }

#menu-mobile ul {
  margin: 0; }

#menu-mobile > li > a ~ ul > li > a {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  background: #f7f7f7; }

#menu-mobile > li > a ~ ul > li ul a {
  font-size: .9rem;
  background: #f7f7f7;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb !important; }

#menu-mobile > li > a ~ input[type=checkbox] {
  opacity: 0;
  height: 2.9rem;
  width: 30%;
  cursor: pointer; }

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 43px;
  height: 51px;
  margin-right: .9875rem; }

.menu-icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: #2b88d2;
  top: 13px;
  left: 0;
  box-shadow: 0 10px 0 #2b88d2, 0 20px 0 #2b88d2;
  border-radius: 5px; }

input.mobile-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  z-index: 5; }
  input.mobile-menu-button:checked ~ .mobile-navigation {
    display: block; }

#mobile-menu {
  margin: 0;
  background: #fefefe;
  position: fixed;
  padding-top: 65px;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-bottom: 50px; }
  #mobile-menu #menu-mobile {
    margin-left: 0;
    overflow: auto;
    height: 100%;
    padding-bottom: 2rem;
    border-bottom: 2px solid #50c185; }
    #mobile-menu #menu-mobile li {
      border-bottom: 1px solid #ebebeb;
      position: relative;
      list-style: none; }
      #mobile-menu #menu-mobile li a {
        padding: 10px 20px;
        color: #404040;
        display: block; }
      #mobile-menu #menu-mobile li .box {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        color: #ccc;
        padding: 0 10px; }
      #mobile-menu #menu-mobile li .sub-menu {
        background: #f7f7f7;
        margin: 0;
        display: none; }
        #mobile-menu #menu-mobile li .sub-menu.show {
          display: block; }
    #mobile-menu #menu-mobile > li > a {
      font-weight: 700; }

.search-mobile {
  background: #404040;
  text-align: center;
  padding: 1rem .5rem .5rem; }
  .search-mobile #s {
    background: #0d0d0d;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    line-height: 240%;
    height: 2.6rem;
    width: 100%;
    color: #395a46; }

@media (max-width: 64rem) {
  .header {
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0; } }

.entry-meta {
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  line-height: 200%;
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 80%; }

body {
  background: #e9e9e9; }

h1 {
  font-weight: 700; }

.banner {
  position: relative;
  z-index: 5;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }
  .banner img {
    width: 100%; }

.main {
  color: #484848;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 1rem; }

.next-prev-links {
  margin: 1rem;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding: 1rem; }
  .next-prev-links a {
    color: #0d72b6; }
    .next-prev-links a:hover {
      color: #0b629d; }

table.promotion {
  background: #fff;
  border: 1px solid #d3d3d3;
  width: 100%; }

.img-wrapper img {
  width: 100%; }

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0; }

p.wp-caption-text {
  font-size: 90%;
  color: #666;
  padding: 0.625rem 0; }

/* Override image alignment */
.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0; }

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*accordion*/
.accordion {
  margin-left: 0; }
  .accordion li {
    background: #fff;
    list-style: none; }
    .accordion li h2 {
      background: #b0b0b0;
      color: #fff;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1.0rem;
      line-height: 1.5rem;
      padding: 0.5rem 1.3rem 0.5rem 0.5rem;
      cursor: pointer;
      margin-bottom: 0;
      position: relative;
      font-family: "open sans" , Arial,sans-serif; }
      .accordion li h2:after {
        content: "\f078";
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        top: 9px; }
      .accordion li h2.down:after {
        content: "\f077"; }
    .accordion li .content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0 1rem 0 1rem;
      transition: all 0.5s ease-in-out; }
      .accordion li .content.show {
        max-height: 6000px;
        opacity: 1;
        padding: 1rem; }

.main-content ul {
  list-style-type: square;
  list-style-position: inside; }

.content table tr:nth-child(even) {
  background: #e8e8e8; }

.content table tr td {
  padding: 0.5rem 0; }

@media screen and (min-width: 53.125em) {
  .single .main-content {
    padding-left: 1.875rem;
    padding-right: 1.875rem; } }

ul.featured {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }
  ul.featured li {
    position: relative;
    list-style: none;
    position: relative; }
    @media screen and (min-width: 53.125em) {
      ul.featured li {
        margin-bottom: 1rem; } }
    ul.featured li:first-child {
      flex: 0 0 100%;
      max-width: 100%; }
      ul.featured li:first-child .img-wrapper {
        min-height: 6rem; }
      ul.featured li:first-child .desc {
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        bottom: 0;
        left: 0;
        padding: 1rem;
        line-height: 1.2;
        color: #fefefe;
        font-size: 13px;
        width: 100%; }
    ul.featured li:nth-child(n+2) {
      overflow: hidden;
      display: flex;
      width: 100%;
      background: #fff;
      margin: 0; }
      ul.featured li:nth-child(n+2) .img-wrapper {
        background: #ededed; }
      ul.featured li:nth-child(n+2) .desc {
        padding: 0.5rem;
        border-bottom: 1px solid #d6d6d6; }
        ul.featured li:nth-child(n+2) .desc h3 {
          overflow: hidden;
          line-height: 130%;
          font-size: 1.0rem;
          font-family: 'Open Sans Condensed', sans-serif;
          color: #404040; }
        ul.featured li:nth-child(n+2) .desc time {
          color: #404040;
          font-size: 0.7rem;
          position: absolute;
          bottom: 0.5rem;
          left: 0.5rem; }
    ul.featured li .img-wrapper {
      width: 100%; }
    ul.featured li .desc h2 {
      font-family: 'Open Sans Condensed','Open Sans',sans-serif;
      color: #fefefe;
      font-weight: 700;
      font-size: 1.5rem; }
      ul.featured li .desc h2:hover {
        color: #fff; }

@media (min-width: 40rem) {
  .featured-wrapper {
    padding-left: .9375rem;
    padding-right: .9375rem; }
  ul.featured li {
    flex: 1 1 0; }
    ul.featured li:nth-child(n+2) {
      margin: 0.987rem; }
      ul.featured li:nth-child(n+2) .desc {
        border-bottom: none;
        min-height: 140px; }
        ul.featured li:nth-child(n+2) .desc h3 {
          font-size: 1.15rem; }
    ul.featured li:last-child {
      margin-right: 0; }
    ul.featured li:nth-child(2) {
      margin-left: 0; } }

@media (min-width: 30rem) {
  ul.featured li {
    flex: 1 1 0; }
    ul.featured li:nth-child(n+2) {
      margin: 0.625rem; }
      ul.featured li:nth-child(n+2) .img-wrapper {
        flex: 0 0 100%;
        max-width: 100%; }
      ul.featured li:nth-child(n+2) .desc {
        flex: 0 0 100%;
        max-width: 100%; }
    ul.featured li:last-child {
      margin-right: 0; }
    ul.featured li:nth-child(2) {
      margin-left: 0; } }

.button-blue {
  display: block;
  text-align: center;
  background: #0c88d4;
  border-bottom: 2px solid #0a6daa;
  text-transform: uppercase;
  border-radius: 0;
  color: #fefefe;
  font-weight: 600;
  padding: 0.4rem 1rem; }
  .button-blue:hover {
    background: #0a6daa;
    border-bottom: 2px solid #0c88d4;
    color: #fff; }

.button-grey {
  text-align: center;
  background: #bcbcbc;
  border-bottom: 2px solid #898989;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.4rem 1rem;
  width: 100%;
  color: #7c7c7c;
  font-size: 0.9rem;
  font-weight: 600; }
  .button-grey:hover {
    background: #898989;
    border-bottom: 2px solid #bcbcbc;
    color: #4f4f4f; }

.pagination-centered {
  margin-bottom: 2rem; }

.more-news > h3 {
  text-transform: uppercase;
  color: #979797;
  margin: 0.5rem 0;
  position: relative;
  font-size: 0.9rem;
  overflow: hidden; }
  .more-news > h3 .line {
    display: block;
    border-top: 1px solid #4f4f4f;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 99px; }

.more-news ul {
  margin: 0;
  list-style: none; }
  .more-news ul li {
    margin-bottom: 1.8rem; }
    .more-news ul li .img-wrapper {
      background: #ccc;
      height: 126px;
      overflow: hidden; }
    .more-news ul li .desc {
      background: #fff;
      padding: 0.5rem;
      height: 140px;
      overflow: hidden;
      border-bottom: 1px solid #ccc; }
      .more-news ul li .desc h3 {
        font-size: 1.15rem;
        font-family: Open Sans Condensed,Arial,Tahoma,sans-serif;
        color: #404040; }

.single h1 {
  font-size: 1.9rem;
  line-height: 2.4rem; }

.full-width {
  width: 100%;
  display: block; }

aside .widget {
  margin-bottom: 1rem; }

aside ul {
  margin-left: 0;
  background: #fefefe; }
  aside ul li {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0.83rem; }

aside h3 {
  background: #0d72b6;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px 10px;
  font-size: 14px;
  margin-bottom: 0;
  font-family: 'open sans',Arial,sans-serif; }

aside h4 a {
  color: #0d72b6; }

aside .page_item {
  padding-left: 0.5rem; }
  aside .page_item a {
    color: #404040;
    padding: 6px 4px 6px 6px;
    display: block; }

aside .menu {
  margin: 0; }
  aside .menu ul {
    margin: 0;
    padding: 0; }
  aside .menu li {
    list-style: none;
    padding: 0; }
    aside .menu li a {
      color: #3f3f3f;
      padding: 6px 4px 6px 6px;
      display: block; }

aside ul.race-list li {
  border-bottom: none; }
  aside ul.race-list li .time {
    color: #15bb69; }
  aside ul.race-list li .number {
    color: #ffa800;
    font-weight: 500; }
  aside ul.race-list li .title {
    font-weight: normal; }

#left-sidebar h3 {
  color: #fff;
  font-weight: 600; }

.widget_recent_entries {
  list-style: none; }

.widget_recent_entries li.row {
  margin: 0; }

.widget_recent_entries .date {
  color: #838383;
  font-size: 75%; }

.widget_recent_entries li h4 {
  color: #404040;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-bottom: 0;
  font-weight: 400; }

.widget_recent_entries li img {
  width: 100%;
  padding: 0.6rem 0 0.6rem 0.6rem; }

.widget_recent_entries li h4 a {
  color: inherit; }

.rm-menu li a {
  color: #3f3f3f;
  padding: 6px 4px 6px 6px;
  display: block; }

.banking-icon-wrapper {
  text-align: center; }
  .banking-icon-wrapper .banking-icon-list {
    display: table;
    margin: 10px auto; }
    .banking-icon-wrapper .banking-icon-list li {
      display: block;
      background: #fff;
      text-align: center;
      width: 172px;
      height: 115px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      float: left;
      vertical-align: middle;
      padding-bottom: 37px;
      border: 1px solid #d3d3d3;
      padding-top: 0.7rem; }
      .banking-icon-wrapper .banking-icon-list li .link-deposit {
        display: block;
        background: orange;
        color: #fff;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 37px; }

/* --------------------------------

Main Components

-------------------------------- */
ul.rm-accordion-menu li ul {
  background: #ededed; }

ul.rm-accordion-menu li ul ul {
  background: #fff; }

.rm-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
  font-size: 14px; }

.rm-accordion-menu li a span.num {
  color: green; }

.rm-accordion-menu li a span.time {
  color: orange; }

.rm-accordion-menu li.event a {
  color: #222; }

.rm-accordion-menu .meeting {
  background: #cceecc; }

.rm-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: none;
  list-style: none; }

.rm-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0; }

.rm-accordion-menu label, .rm-accordion-menu a {
  position: relative;
  display: block;
  padding: 2px 5px; }

.no-touch .rm-accordion-menu label:hover, .no-touch .rm-accordion-menu a:hover {
  background: #52565d; }

.rm-accordion-menu label::before, .rm-accordion-menu label::after, .rm-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.rm-accordion-menu label {
  cursor: pointer; }

.rm-accordion-menu label::before {
  /* arrow icon */
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg); }

.rm-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.rm-accordion-menu input[type=checkbox]:checked + label + ul,
.rm-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block; }

.rm-accordion-menu label,
.rm-accordion-menu a {
  border-bottom: 1px solid #ccc;
  padding-left: 0.5rem; }

.no-touch .rm-accordion-menu ul label:hover, .no-touch .rm-accordion-menu ul a:hover {
  background: #3c3f45; }

.rm-accordion-menu li.has-children label::after {
  right: 0.2rem;
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  font-size: 1.2rem;
  color: #ccc; }

.rm-accordion-menu li.has-children input[type=checkbox]:checked + label::after {
  content: "\f106"; }

ul.brmc-accordion {
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
  width: 100%; }
  ul.brmc-accordion li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #dcdcdc; }
    ul.brmc-accordion li span.title {
      font-weight: bold; }
    ul.brmc-accordion li i {
      position: absolute;
      padding-left: 15px;
      top: 0.75rem; }
    ul.brmc-accordion li i:after, ul.brmc-accordion li i:before {
      content: "";
      position: absolute;
      background-color: #434343;
      width: 3px;
      height: 9px;
      transition: all 0.25s ease-in-out; }
    ul.brmc-accordion li i:before {
      transform: translate(-2px, 0) rotate(-45deg); }
    ul.brmc-accordion li i:after {
      transform: translate(2px, 0) rotate(-135deg); }
    ul.brmc-accordion li h3, ul.brmc-accordion li label.title {
      margin-bottom: 0;
      text-align: center;
      padding: 0.4rem;
      border-bottom: 1px solid #dcdcdc;
      display: block;
      font-weight: bold;
      font-size: 0.9rem; }
    ul.brmc-accordion li > p {
      display: none;
      padding: 1rem; }
    ul.brmc-accordion li > div {
      display: none;
      padding: 1rem; }
    ul.brmc-accordion li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      ul.brmc-accordion li input[type=checkbox]:checked ~ p {
        display: block; }
      ul.brmc-accordion li input[type=checkbox]:checked ~ div {
        display: block; }
      ul.brmc-accordion li input[type=checkbox]:checked ~ h3 i:before {
        transform: translate(-2px, 0) rotate(-135deg); }
      ul.brmc-accordion li input[type=checkbox]:checked ~ h3 i:after {
        transform: translate(-2px, 0) rotate(-45deg); }
      ul.brmc-accordion li input[type=checkbox]:checked ~ label.title i:before {
        transform: translate(-2px, 0) rotate(-135deg); }
      ul.brmc-accordion li input[type=checkbox]:checked ~ label.title i:after {
        transform: translate(-2px, 0) rotate(-45deg); }
  ul.brmc-accordion.dark li label.title {
    color: #fff;
    background: #b0b0b0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
    text-transform: capitalize;
    padding: .5rem 1.3rem .5rem .5rem; }
  ul.brmc-accordion.dark li i {
    right: 1.5rem; }
  ul.brmc-accordion.dark li i:after, ul.brmc-accordion.dark li i:before {
    background-color: #ccc;
    height: 16px;
    transition: all 0.25s ease-in-out; }
  ul.brmc-accordion.dark li i:before {
    transform: translate(-7px, 0) rotate(-45deg); }

.casino-review-feature {
  background: #f3f3f3;
  padding: 0.6rem 0 0.9rem;
  border: 1px solid #cccccc; }
  .casino-review-feature h2 {
    border: none;
    font-size: 1.4rem;
    margin-bottom: 0.6rem; }
    @media screen and (max-width: 53.0625em) {
      .casino-review-feature h2 {
        text-align: center; } }
  .casino-review-feature .casino-img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .casino-review-feature .visit-butt {
    background: #2eb27a !important;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #fff;
    line-height: 34px;
    font-weight: 600;
    font-size: 1.2rem; }
  .casino-review-feature .bonus {
    margin: 15px 0 10px;
    background: #e1e1e1;
    padding: 0.6rem;
    border-radius: 8px;
    text-align: center;
    font-weight: bold; }
    .casino-review-feature .bonus .title {
      color: #0d72b6;
      font-size: 1.1rem; }
    .casino-review-feature .bonus .data {
      color: #2d2d2d;
      font-size: 1.1rem; }
    .casino-review-feature .bonus .visit-link {
      display: block;
      text-align: center;
      text-decoration: underline;
      color: #2eb27a;
      font-size: 0.9rem; }
  .casino-review-feature .casino-description {
    line-height: 1rem; }
  .casino-review-feature .rank {
    color: #0d72b6; }
    .casino-review-feature .rank .fa {
      font-size: 1.2rem; }
  .casino-review-feature .title {
    color: #4d4d4d;
    font-size: .8rem;
    padding-right: 5px;
    font-weight: bold; }
  .casino-review-feature .data {
    color: #818181;
    font-size: .8rem;
    padding-right: 5px; }
  .casino-review-feature .country-small {
    text-transform: uppercase;
    color: #a3a3a3;
    margin-top: 8px; }
    .casino-review-feature .country-small img {
      max-width: 38px;
      margin-right: 5px; }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .casino-review-feature .bonus .data, .casino-review-feature .bonus .title, .casino-review-feature h2 {
    font-size: 1rem; }
  .casino-review-feature .country-small {
    font-size: 0.62rem; }
  .casino-review-feature .rank .fa {
    font-size: 1.0rem; }
  .casino-review-feature .visit-butt {
    margin-right: 0;
    margin-left: 0;
    font-size: 1.0rem; } }

.review h2 {
  border-bottom: 2px solid #e1e1e1;
  margin-top: 0.5rem;
  padding-bottom: 0.4rem; }

.archive-item {
  background: #fefefe;
  border-bottom: 1px solid #dedede;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  font-size: 0.8rem; }
  .archive-item h3 {
    font-family: 'Open Sans Condensed','open sans',sans-serif; }
  .archive-item time {
    color: #15bb69;
    margin-right: 0.2rem; }
  .archive-item .desc {
    padding: 0.9375rem; }
    .archive-item .desc div {
      color: #404040; }

@media (max-width: 30rem) {
  .main .archive-item .img-wrapper {
    display: none; }
  .main .archive-item .desc {
    flex: 0 0 100%;
    max-width: 100%; } }

.home .latest-news {
  margin-bottom: 1rem; }
  .home .latest-news ul {
    margin: 0;
    border: 1px solid #e8e8e8; }
    .home .latest-news ul > li {
      background: #fff;
      padding: 0;
      border-bottom: 1px solid #e2e2e2;
      position: relative; }
      .home .latest-news ul > li .img-wrapper {
        background: #dedede; }
      @media screen and (min-width: 53.125em) {
        .home .latest-news ul > li img {
          xmin-height: 100%; } }
      .home .latest-news ul > li .link-title {
        color: #404040;
        padding: 10px 10px 10px 0.5rem;
        overflow: hidden;
        font-weight: 700;
        font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
        line-height: 1.2rem;
        overflow: hidden; }
      .home .latest-news ul > li .date {
        font-size: .7rem;
        color: #898989;
        padding: 10px; }

.recent-news {
  padding: 0 0 1.875rem;
  margin-bottom: 1.875rem; }
  .recent-news .archive-item:nth-child(n+5) {
    display: none; }

h3.title {
  border-top: 1px solid #1c8ad1;
  color: #1c8ad1;
  font-family: 'Open Sans',Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 1.0rem;
  text-transform: uppercase;
  padding: 0.5rem;
  background: #f8f8f8;
  margin-bottom: 0; }

.archive-item a:hover .desc, .featured .desc:hover, ul.race-list li:hover, .home .latest-news ul > li:hover, .archive-item .desc:hover, .content-box a:hover .desc, .more-news a:hover .desc, .media-section:hover, .rm-menu li:hover {
  background: #dedede; }

.content-box {
  list-style: none; }
  .content-box h3 {
    font-family: 'Open Sans Condensed',Arial, Tahoma, sans-serif; }
  .content-box a {
    display: flex;
    flex-flow: row wrap;
    max-width: none;
    margin-left: -.625rem;
    margin-right: -.625rem; }
  .content-box .desc {
    padding: 0.8rem 0.5rem;
    background: #fff;
    border-bottom: 1px solid #d6d6d6; }

.recent-news {
  margin-bottom: 2rem;
  order: 2; }

.recent-news .description {
  display: none; }

@media screen and (min-width: 64em) {
  .content-box-wrapper ul {
    margin-bottom: 0; }
  .recent-news {
    padding: 0 0.9875rem 0; }
    .recent-news .description {
      display: inline-block; }
    .recent-news .archive-item:nth-child(n+5) {
      display: block; }
  .featured-wrapper {
    margin-bottom: 0.9875rem; }
  .content-box {
    margin-bottom: 1.875rem; }
    .content-box a {
      display: inline;
      margin: 0; }
    .content-box .desc {
      height: 154px;
      overflow: hidden; } }

@media screen and (max-width: 39.9375em) {
  .latest-news ul > li .link-title.first {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fefefe;
    left: 0;
    line-height: 100%;
    padding: 1rem;
    font-size: 1.5rem; } }

.rm-menus ul {
  margin-top: 1rem;
  list-style: none; }

.rm-menus ul li a {
  color: #dad8d8; }

.rm-menus ul li a:hover {
  color: #fff; }

.rm-menus div:first-child ul li a {
  text-transform: uppercase;
  font-weight: 700; }

@media screen and (max-width: 53.0625em) {
  .rm-menus div:nth-child(n+2) {
    background-color: #000; } }

.social-list-wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto; }

.social-list li {
  list-style: none;
  display: inline-block;
  border: 2px solid #c6c6c6;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 10px 5px;
  text-align: center;
  font-size: 1.2rem; }

ul.social-list {
  position: relative;
  z-index: 2;
  display: inline;
  margin-left: 0; }

.social-list li a {
  color: #c6c6c6; }

.social-list li a:hover {
  color: #aaaaaa; }

ul.race-list li {
  border-bottom: none; }
  ul.race-list li .time {
    color: #15bb69; }
  ul.race-list li .number {
    color: #ffa800;
    font-weight: 500; }
  ul.race-list li .title {
    font-weight: normal; }

.main-content footer {
  clear: both; }

.recent-rm-news .news-ul {
  list-style: none;
  margin-right: 0;
  margin-left: 0; }

.recent-rm-news .news-ul li {
  border-bottom: 1px solid #f1f1f1;
  color: #5c5c5c;
  position: relative; }

.recent-rm-news ul.news-ul li a {
  color: #0a0a0a; }

.recent-rm-news ul.news-ul li p {
  font-size: 0.8rem; }

.recent-rm-news .news-ul .description {
  background: #fff;
  padding-top: 0.5rem; }

.recent-rm-news .button {
  display: block;
  text-align: center;
  background: #0c88d4;
  border-bottom: 2px solid #0a6daa;
  text-transform: uppercase;
  border-radius: 0;
  color: #fefefe;
  font-weight: 600;
  padding: .4rem 1rem;
  width: 100%; }

@media (min-width: 600px) {
  .recent-left {
    float: left;
    max-width: 50%;
    margin-right: 1rem; }
  .recent-right:after, .recent-left:after {
    clear: both; }
  .recent-right {
    float: right;
    margin-left: 1rem;
    max-width: 50%; } }

/*
*  Owl Carousel - Animate Plugin
*/
.row.owl-carousel {
  margin-left: 0;
  margin-right: 0; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

.owl-theme .owl-controls .owl-nav,
.owl-next {
  position: absolute;
  top: 40%;
  right: -5px; }

.owl-theme .owl-controls .owl-nav,
.owl-prev {
  position: absolute;
  top: 40%;
  left: -5px; }

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #646464;
  font-size: 23px;
  background: #fefefe;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  text-align: center; }

.owl-carousel .owl-controls .owl-nav .owl-next {
  padding-left: 2px; }

.casino-promo-list {
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-left: 0; }
  .casino-promo-list > li {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e8e8e8;
    justify-content: flex-start;
    align-items: center; }
  .casino-promo-list .rank {
    color: #ccc;
    font-weight: normal;
    border-right: 1px solid #e8e8e8;
    padding-right: 0.65rem;
    margin-right: 0.65rem; }
  .casino-promo-list .title {
    color: #1a8dc5;
    font-weight: 600;
    flex: 0 0 91.66667%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 91.66667%;
    border-right: 1px solid #e8e8e8; }
    @media screen and (min-width: 53.125em) {
      .casino-promo-list .title {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
      .casino-promo-list .title {
        flex: 0 0 33.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 33.33333%;
        border-right: none; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .casino-promo-list .title {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .casino-promo-list .promotion {
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%;
    display: none; }
    @media screen and (min-width: 53.125em) {
      .casino-promo-list .promotion {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    .casino-promo-list .promotion div {
      min-height: 47px; }
    @media screen and (min-width: 64em) {
      .casino-promo-list .promotion {
        flex: 0 0 58.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 58.33333%;
        order: 3;
        display: flex;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        min-height: 47px; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .casino-promo-list .promotion {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .casino-promo-list .call-to-action {
    padding: 0 !important;
    flex: 0 0 8.33333%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 8.33333%;
    text-align: center; }
    @media screen and (min-width: 53.125em) {
      .casino-promo-list .call-to-action {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
      .casino-promo-list .call-to-action {
        flex: 0 0 8.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 8.33333%;
        order: 4;
        border-right: none; } }
  @media screen and (min-width: 64em) and (min-width: 53.125em) {
    .casino-promo-list .call-to-action {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .casino-promo-list .call-to-action .action-button {
      display: none;
      background: #ffa037;
      color: #fefefe;
      font-weight: 600;
      border-radius: 3px;
      padding: 3px 8px;
      text-shadow: 1px 1px #636161;
      border-bottom: 2px solid #c17426;
      font-size: 0.9rem; }
      @media screen and (min-width: 64em) {
        .casino-promo-list .call-to-action .action-button {
          display: inline-block; } }
    .casino-promo-list .call-to-action .small-action {
      display: inline;
      padding: 0rem 0.55rem;
      background: #24b740;
      border-radius: 100%;
      color: #fff; }
      @media screen and (min-width: 64em) {
        .casino-promo-list .call-to-action .small-action {
          display: none; } }

.widget_rm_menu_widget ul, .widget.c, .widget_pages ul {
  list-style: none; }
