/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.sport-bookmakers {
  list-style: none;
  border: 1px solid #e8e8e8;
  margin-left: 0; }
  .sport-bookmakers > li:nth-child(odd) {
    background: #f5f7f9; }
  .sport-bookmakers #ladbrokes {
    background: #d1242b; }
  .sport-bookmakers #topbetta {
    background: #26ab33; }
  .sport-bookmakers #betfair {
    background: #fdb72f; }
  .sport-bookmakers #madbookie {
    background: #252525; }
  .sport-bookmakers #unibet {
    background: #1c7a47; }
  .sport-bookmakers #sportsbet-sport {
    background: #1381e2; }
  .sport-bookmakers #crownbet-sport {
    background: #8c5bad; }
  .sport-bookmakers #william-hill-sport {
    background: #0c457c; }
  .sport-bookmakers #luxbet-sport {
    background: #b31e3c; }
  .sport-bookmakers #bet365-sport {
    background: #027b5c; }
  .sport-bookmakers #palmerbet-sport {
    background: #393a40; }
  .sport-bookmakers .bookmakers-header {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #2ab0f7 !important;
    color: #fefefe;
    text-align: center; }
    @media screen and (max-width: 39.9375em) {
      .sport-bookmakers .bookmakers-header {
        display: none !important; } }
    .sport-bookmakers .bookmakers-header .rank-header {
      flex: 0 0 8.33333%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 8.33333%; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers-header .rank-header {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (max-width: 63.9375em) {
        .sport-bookmakers .bookmakers-header .rank-header {
          display: none !important; } }
    .sport-bookmakers .bookmakers-header .bookmaker-header {
      flex: 0 0 16.66667%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 16.66667%; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers-header .bookmaker-header {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
    .sport-bookmakers .bookmakers-header .bonus-header {
      flex: 0 0 25%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 25%; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers-header .bonus-header {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
    .sport-bookmakers .bookmakers-header .pro-header {
      flex: 0 0 33.33333%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 33.33333%; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers-header .pro-header {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
    .sport-bookmakers .bookmakers-header .signup-header {
      flex: 0 0 16.66667%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 16.66667%; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers-header .signup-header {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .sport-bookmakers .bookmakers-header .signup-header {
          flex: 0 0 25%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 25%; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) and (min-width: 40em) {
    .sport-bookmakers .bookmakers-header .signup-header {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .sport-bookmakers .rank {
    text-align: center;
    flex: 0 0 8.33333%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 8.33333%; }
    @media screen and (max-width: 63.9375em) {
      .sport-bookmakers .rank {
        display: none !important; } }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .rank {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
  .sport-bookmakers .bookmakers {
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%;
    padding: 0; }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .bookmakers {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .bookmakers {
        flex: 0 0 16.66667%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 16.66667%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .sport-bookmakers .bookmakers {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .sport-bookmakers .bookmakers .img-wrapper {
      padding: 0.5rem; }
      @media screen and (min-width: 40em) {
        .sport-bookmakers .bookmakers .img-wrapper {
          padding: 1.2rem !important; } }
      .sport-bookmakers .bookmakers .img-wrapper .action-button {
        float: right; }
        @media screen and (max-width: 0em), screen and (min-width: 40em) {
          .sport-bookmakers .bookmakers .img-wrapper .action-button {
            display: none !important; } }
      .sport-bookmakers .bookmakers .img-wrapper img {
        max-height: 25px;
        width: auto; }
  .sport-bookmakers .bonus {
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%; }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .bonus {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .bonus {
        flex: 0 0 25%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 25%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .sport-bookmakers .bonus {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .sport-bookmakers .bonus .title {
      margin-top: 0.5rem;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      color: #46da3b;
      font-weight: 600; }
    .sport-bookmakers .bonus .summary {
      font-size: 0.8rem;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-flow: row wrap;
      text-align: center; }
      @media screen and (max-width: 39.9375em) {
        .sport-bookmakers .bonus .summary {
          display: none !important; } }
  .sport-bookmakers .pro {
    padding: 0.7rem;
    font-size: 0.8rem;
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%; }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .pro {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .pro {
        flex: 0 0 33.33333%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 33.33333%; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .sport-bookmakers .pro {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .sport-bookmakers .pro ul {
      list-style: none;
      padding-left: 0;
      margin-left: 15px; }
      .sport-bookmakers .pro ul li {
        margin-left: 0; }
        .sport-bookmakers .pro ul li:before {
          content: "\f058";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          color: #46da3b;
          padding-right: 5px;
          margin-left: -15px; }
        .sport-bookmakers .pro ul li.cons:before {
          content: "\f057";
          color: #da0913; }
  .sport-bookmakers .call-to-action {
    text-align: center;
    flex: 0 0 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%; }
    @media screen and (min-width: 40em) {
      .sport-bookmakers .call-to-action {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      .sport-bookmakers .call-to-action {
        flex: 0 0 25%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 25%; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) and (min-width: 40em) {
    .sport-bookmakers .call-to-action {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    @media screen and (min-width: 64em) {
      .sport-bookmakers .call-to-action {
        flex: 0 0 16.66667%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        max-width: 16.66667%; } }
  @media screen and (min-width: 64em) and (min-width: 40em) {
    .sport-bookmakers .call-to-action {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .sport-bookmakers .call-to-action .action-button {
      margin-top: 0.5rem; }
      @media screen and (max-width: 39.9375em) {
        .sport-bookmakers .call-to-action .action-button {
          display: none !important; } }
    .sport-bookmakers .call-to-action .review-link {
      color: #00a8ef;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      text-decoration: underline;
      margin-bottom: 0.5rem;
      display: block; }
  .sport-bookmakers > li {
    background: #fff;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  .sport-bookmakers .action-button {
    text-transform: capitalize;
    color: #fff;
    background: #fa9621;
    border-radius: 4px;
    text-decoration: none;
    padding: 0 1.1rem 0.1rem;
    font-weight: 400;
    font-size: 0.9rem; }
