.mcl.casino-list h2 {
  margin: 0;
  border-bottom: none;
  background: #1d88c6;
  font-size: 1.25rem;
  color: #fff;
  padding-left: .6rem;
}

.mcl.casino-list .casino-item-header {
  display: none;
}

.mcl.casino-list .casino-item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: .6rem 0;
  border-bottom: 2px solid #e1e1e1;
  box-sizing: border-box;
}

.mcl.casino-list .casino-item::before, .mcl.casino-list .casino-item::after {
  content: ' ';
  display: table;
  flex-basis: 0;
  order: 1;
}

.mcl.casino-list .casino-item .image-thumbnail-wrapper {
  width: 50%;
  float: left;
  padding: 0 .6rem !important;
}

.mcl.casino-list .casino-item .image-thumbnail-wrapper  img {max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;}

.mcl.casino-list .casino-item .payout {
  text-align: center;
  padding: 0 !important;
  width: 50%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.mcl.casino-list .casino-item .payout a {
  color: #373737;
  font-size: 90%;
  box-shadow: none;
  text-decoration: none;
}

.mcl.casino-list .casino-item .games, .mcl.casino-list .casino-item .pokies {
  display: none;
  font-weight: 700;
  color: #a3a3a3;
  width: 8.33333%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.mcl.casino-list .casino-item .cta {
  width: 75%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: center;
  margin-top:10px;
}

.mcl.casino-list .casino-item .cta a:first-child {
  background: #00a8ef;
  border-top: 2px solid #1581af;
  border-radius: 3px;
  width: 90%;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  padding: .6em 1em;
  margin: 0 0 0.2rem;
  color: #fff;
}

.mcl.casino-list .casino-item .cta .review {
  text-transform: uppercase;
  color: #707070;
  font-size: 80%;
  text-decoration: underline;
  box-shadow: none;
}

.mcl.casino-list .casino-item .availability:last-child:not(:first-child) {
  float: right;
}

.mcl.casino-list .casino-item .availability {
  width: 25%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.mcl.casino-list .casino-item .availability img {
  max-width: 38px;
}