/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.bookmakers-list-today {
  list-style: none;
  margin-left: 0; }
  .bookmakers-list-today #ladbrokes {
    background: #d1242b; }
  .bookmakers-list-today #topbetta {
    background: #26ab33; }
  .bookmakers-list-today #betfair {
    background: #fdb72f; }
  .bookmakers-list-today #madbookie {
    background: #252525; }
  .bookmakers-list-today #unibet {
    background: #1c7a47; }
  .bookmakers-list-today #sportsbet-sport {
    background: #1381e2; }
  .bookmakers-list-today #crownbet-sport {
    background: #8c5bad; }
  .bookmakers-list-today #william-hill-sport {
    background: #0c457c; }
  .bookmakers-list-today #luxbet-sport {
    background: #b31e3c; }
  .bookmakers-list-today #bet365-sport {
    background: #027b5c; }
  .bookmakers-list-today #palmerbet-sport {
    background: #393a40; }
  .bookmakers-list-today > li {
    margin-bottom: 1rem; }
  .bookmakers-list-today .top-banner {
    background: #537055;
    padding: 0.8rem 0;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    @media screen and (min-width: 40em) {
      .bookmakers-list-today .top-banner {
        padding: 0.4rem 0; } }
    .bookmakers-list-today .top-banner .img-wrapper {
      flex: 0 0 33.33333%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 33.33333%; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .top-banner .img-wrapper {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      .bookmakers-list-today .top-banner .img-wrapper .bet-logo {
        max-height: 20px;
        width: auto; }
    .bookmakers-list-today .top-banner .links {
      text-align: right;
      flex: 0 0 66.66667%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 66.66667%; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .top-banner .links {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .top-banner .links {
          flex: 0 0 33.33333%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 33.33333%;
          order: 3; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .bookmakers-list-today .top-banner .links {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .bookmakers-list-today .top-banner .links .sign-up {
        text-transform: capitalize;
        color: #fff;
        background: #fa9621;
        border-radius: 4px;
        text-decoration: none;
        padding: 2px 12px;
        font-weight: 600; }
      .bookmakers-list-today .top-banner .links .review-link {
        padding-right: 10px;
        color: #ffe082;
        font-size: 12px;
        text-transform: capitalize; }
    .bookmakers-list-today .top-banner .welcome-bonus {
      flex: 0 0 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%;
      margin-top: 0.5rem;
      text-align: center;
      color: #fefefe;
      font-size: 0.9rem; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .top-banner .welcome-bonus {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .top-banner .welcome-bonus {
          flex: 0 0 33.33333%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 33.33333%;
          order: 2;
          margin-top: 0; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .bookmakers-list-today .top-banner .welcome-bonus {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .bookmakers-list-today .top-banner .welcome-bonus strong {
        text-decoration: underline; }
  .bookmakers-list-today .description {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #e8e8e8;
    background: #fff;
    padding: 0.5rem; }
    .bookmakers-list-today .description .availability {
      font-size: 0.9rem; }
      @media screen and (max-width: 39.9375em) {
        .bookmakers-list-today .description .availability {
          display: none !important; } }
      .bookmakers-list-today .description .availability img {
        height: 35px; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .description .availability {
          flex: 0 0 16.66667%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 16.66667%;
          text-align: center; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .bookmakers-list-today .description .availability {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
    .bookmakers-list-today .description .features {
      flex: 0 0 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .description .features {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .description .features {
          flex: 0 0 33.33333%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 33.33333%;
          border-right: 1px solid #e8e8e8; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .bookmakers-list-today .description .features {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .bookmakers-list-today .description .features ul {
        list-style: none;
        padding-left: 0;
        margin-left: 15px; }
        .bookmakers-list-today .description .features ul li {
          margin-left: 0; }
          .bookmakers-list-today .description .features ul li.cons:before {
            content: "\f058";
            color: #da0913; }
          .bookmakers-list-today .description .features ul li:before {
            content: "\f058";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            color: #46da3b;
            padding-right: 5px;
            margin-left: -15px; }
    .bookmakers-list-today .description .offer {
      line-height: 1.3rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      flex: 0 0 100%;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%; }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .description .offer {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem; } }
      @media screen and (min-width: 40em) {
        .bookmakers-list-today .description .offer {
          flex: 0 0 50%;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          max-width: 50%;
          border-right: 1px solid #e8e8e8;
          margin-top: 0;
          margin-bottom: 0; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .bookmakers-list-today .description .offer {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
      .bookmakers-list-today .description .offer .title {
        display: block;
        font-weight: 800;
        color: #757575;
        font-size: 150%;
        text-transform: uppercase;
        font-style: italic; }
      .bookmakers-list-today .description .offer .bonus {
        color: #019b25;
        text-decoration: underline;
        font-size: 0.9rem;
        font-weight: 700; }
