ul.brmc-accordion {
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #dcdcdc;

    span.title {
      font-weight: bold;
    }
    i {
      position: absolute;
      padding-left: 15px;
      top: 0.75rem;
    }
    i:after, i:before {
      content: "";
      position: absolute;
      background-color: #434343;
      width: 3px;
      height: 9px;
      transition: all 0.25s ease-in-out
    }
    i:before {
      transform: translate(-2px, 0) rotate(-45deg);
    }
    i:after {
      transform: translate(2px, 0) rotate(-135deg);

    }
    h3 , label.title {
      margin-bottom: 0;
      text-align: center;
      padding: 0.4rem;
      border-bottom: 1px solid #dcdcdc;
     display:block;
      font-weight:bold;
      font-size:0.9rem;
    }
    > p {
      display: none;
      padding: 1rem;

    }
    > div {
      display: none;
      padding: 1rem;

    }
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      &:checked {
        & ~ p {
          display: block;
        }
        & ~ div {
          display: block;
        }
        & ~ h3 {
          i:before {
            transform: translate(-2px, 0) rotate(-135deg);
          }
          i:after {
            transform: translate(-2px, 0) rotate(-45deg);
          }
        }
        & ~ label.title{
          i:before {
            transform: translate(-2px, 0) rotate(-135deg);
          }
          i:after {
            transform: translate(-2px, 0) rotate(-45deg);
          }
        }

      }
    }

  }
  &.dark {
 li{
    label.title {
      color: #fff;
      background:#b0b0b0;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: left;
      text-transform: capitalize;
      padding: .5rem 1.3rem .5rem .5rem;
    }

    i {
      right: 1.5rem;
    }
    i:after, i:before {

      background-color: #ccc;

      height: 16px;
      transition: all 0.25s ease-in-out
    }
   i:before {
     transform: translate(-7px, 0) rotate(-45deg);
   }

  }}
}



