.footer {
  background: map_get($foundation-palette,'secondary');
  color:$white;
  margin-bottom:$global-margin;
.footer-widgets {
  padding:0;
  h3 {
    color: #dce1e7;
    font-style: italic;
    font-size: .9rem;
    font-weight: 600;
    font-family: 'open-sans',Arial,sans-serif;
  }
  .menu {
    margin:0;
    li {
      list-style: none;
      font-size:0.7rem;
      a {
        color:#afb1b4;
      }
    }
  }
}
}

.footer-top {
   background: map_get($foundation-palette,'secondary');
   box-shadow: $maincontent-shadow;
   font-size: $small-font-size;
  padding:$global-padding 0;

img {
  max-height: 35px;
}
}
.footer-bottom {
  padding-top: 1.875rem;
  background: darken(map_get($foundation-palette,'secondary'),40%);
  padding-bottom: 1.875rem;;
  &:before{
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    box-shadow: -5px -5px 2px rgba(0,0,0,0.8);
  }
  article {
    @include breakpoint(small only) {
      @include flex-grid-column(12);
      text-align: center;
    }
  }
}

.copyright {
  color: $light-gray;
  font-size: $small-font-size;
  text-align: center;
  margin-top:0.5rem;
}
@media (min-width: 40rem){
  .footer-bottom {
    .social-list-wrapper {
      text-align: left;
    }
  }
}