body {
  background: #e9e9e9;
}

h1 {
  font-weight:700;
}

.banner {
  position: relative;
  z-index: 5;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
               img {
                 width: 100%;

               }
}
.main {

  color: #484848;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom:$global-margin;
}

.next-prev-links {
  margin:$global-margin;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding:$global-padding;
  a {
    color:$primary-color;
    &:hover {color:scale-color($primary-color, $lightness: -14%);}
  }

}

table.promotion {
  background: #fff;
  border: 1px solid #d3d3d3;
  width: 100%;
}

.img-wrapper img {width:100%;}

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

/* Override image alignment */
.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*accordion*/
.accordion {
  margin-left:0;
  li {
    background:#fff;
    list-style:none;
    h2 {
      background: #b0b0b0;
      color: #fff;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1.0rem;
      line-height: 1.5rem;
      padding: 0.5rem 1.3rem 0.5rem 0.5rem;
      cursor: pointer;
      margin-bottom:0;
      position: relative;
      font-family: "open sans" , Arial,sans-serif;

      &:after {
        content: "\f078";
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        top: 9px;
      }
      &.down {
        &:after {
          content: "\f077";
        }
      }
    }
    .content {
      max-height: 0;
      opacity: 0;
      overflow:hidden;
      padding: 0 1rem 0 1rem;
      transition: all 0.5s ease-in-out;
      &.show {
        max-height: 6000px;
        opacity: 1;
        padding: 1rem ;
      }
    }

  }
}

.main-content ul {
  list-style-type: square;
  list-style-position: inside;
}
.content{
table {
  tr {
    &:nth-child(even) {
      background: #e8e8e8;
    }
    td {
      padding: 0.5rem 0;
    }
  }
}
}

.single .main-content {
  @include breakpoint(medium up) {
  padding-left: 1.875rem;
  padding-right: 1.875rem;}
}


ul.featured {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
  li {
    position:relative;
    @include breakpoint(medium up) {
      margin-bottom:1rem;
    }
    list-style:none;
    position:relative;
    &:first-child {
      flex: 0 0 100%;
      max-width: 100%;
      .img-wrapper { min-height:6rem;}
      .desc {
        position: absolute;
        background: rgba(0,0,0,0.4);
        bottom: 0;
        left:0;
        padding:1rem;
        line-height: 1.2;
        color:$white;
        font-size:13px;
        width:100%;
      }
    }
    &:nth-child(n+2) {

      overflow: hidden;
      display: flex;
      width: 100%;
      background:#fff;
      margin:0;
      .img-wrapper { background:#ededed}
      .desc {
        padding:0.5rem;

        border-bottom: 1px solid #d6d6d6;

        h3 {
          overflow: hidden;
          line-height: 130%;
          font-size:1.0rem;
          font-family: 'Open Sans Condensed', sans-serif;
          color:#404040;
        }
        time {
          color:#404040;
          font-size:0.7rem;
          position:absolute;
          bottom:0.5rem;
          left:0.5rem;
        }
      }


    }

    .img-wrapper {
      width: 100%;
    }
    .desc {

      h2 {
        font-family: 'Open Sans Condensed','Open Sans',sans-serif;

        color:$white;
        font-weight: 700;
        font-size:1.5rem;
        &:hover {
          color:#fff;
        }

      }
    }

  }

}
@media (min-width: 40rem){
  .featured-wrapper {
    padding-left: .9375rem;
    padding-right: .9375rem;
  }
  ul.featured{

   li {
     flex: 1 1 0;
     &:nth-child(n+2) {
       margin:0.987rem;
       .desc {
         border-bottom:none;
         min-height:140px;

       h3 {
         font-size:1.15rem;
       }}
     }
     &:last-child { margin-right:0;}
     &:nth-child(2){margin-left:0;}
   }
  }
}
@media (min-width: 30rem) {
  ul.featured {

    li {
      flex: 1 1 0;
      &:nth-child(n+2) {
        margin:0.625rem;
        .img-wrapper  {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .desc {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      &:last-child { margin-right:0;}
      &:nth-child(2){margin-left:0;}
    }
  }
}
.button-blue {
  display: block;
  text-align: center;
  background: #0c88d4;
  border-bottom: 2px solid #0a6daa;
  text-transform: uppercase;
  border-radius: 0;



    color:$white;
    font-weight:600;
    padding:0.4rem 1rem;

    &:hover {
    background: #0a6daa;
    border-bottom: 2px solid #0c88d4;
    color:#fff;
  }
}

.button-grey {

  text-align: center;
  background: #bcbcbc;
  border-bottom: 2px solid #898989;
  text-transform: uppercase;
  border-radius: 0;
  padding:0.4rem 1rem;
  width:100%;
  color:#7c7c7c;
  font-size: 0.9rem;
  font-weight: 600;
  &:hover {
    background: #898989;
    border-bottom: 2px solid #bcbcbc;
    color: #4f4f4f;
  }
}
.pagination-centered {
  margin-bottom:2rem;
}

.more-news {
  >h3 {
    text-transform: uppercase;
    color: #979797;
    margin:0.5rem 0;
    position:relative;
    font-size:0.9rem;
overflow: hidden;
    .line {
      display: block;
      border-top: 1px solid #4f4f4f;
      position: absolute;
      top: 50%;
      width: 100%;
      left: 99px;
    }
  }
  ul {
    margin:0; list-style: none;
    li {
      margin-bottom:1.8rem;

      .img-wrapper {
        background: #ccc;
        height: 126px;
        overflow: hidden;
      }
      .desc{
        background:#fff;
        padding:0.5rem;
        height: 140px;
overflow:hidden;
        border-bottom:1px solid #ccc;
        h3 {
          font-size:1.15rem;
          font-family: Open Sans Condensed,Arial,Tahoma,sans-serif;
          color:$black;
        }
      }

    }
  }
}

.single h1 {
  font-size:1.9rem;
  line-height: 2.4rem;
}
.full-width {
  width:100%;
  display:block;
}