.header {
  background:$dark-gray;
  padding:0;

  > .row {
    min-height:75px;
  }
  .logo-header {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    margin-bottom: 1rem;
    img {

        height:30px;

    }
  }

}

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 52px;
  height: 52px;
  outline: none;
}
#mobile-icon.light:after{
  background: #cccccc;
  box-shadow: 0 10px 0 #ccc,0 20px 0 #ccc;
}

.menu-icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: #2b88d2;
  top: 13px;
  left: 0;
  box-shadow: 0 10px 0 #2b88d2, 0 20px 0 #2b88d2;
  border-radius: 5px;
}

#searchform {
  position: relative;
  display:inline-block;
  padding-top: 12px;
}

#s {
  background: #646464;
  border: none;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: capitalize;
  line-height: 29px;
  border-radius: 4px;
  font-size:0.9rem;
  color:#fff;
  padding-left:0.5rem;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $white;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $white;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
}

#search-submit {
  border: none;
  position: absolute;
  right: 0.4rem;
  color: rgba(204, 204, 204, 0.31);
  margin-top: 2px;
  margin-left: 2px;
  top: 0.9rem;
  height: 20px;
  width: 20px;
}
.search {
  .social img {width:1.8rem;height:1.8rem; margin-left:0.5rem;margin-top: -4px;}
}

.no-scroll {overflow: hidden;position:fixed;}

article.main-content ul.bullets {
  list-style-type: disc;
  padding-left:1rem;
}
@media (max-width: 64rem) {
  .banner {margin-top:4.8rem;}
}