.desktop-menu-wrapper {
  background: $medium-gray;
  position: relative;
}

.desktop-menu-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 4;

}

ul.menu li {
  list-style: none;

}

.desktop-menu {
  display: table;
  width:100%;
  margin: 0;
  list-style-type: none;
  table-layout: fixed;
  padding-left: 0;

  > li {
    position:relative;
  &.highlight
  >a{
    position: absolute;
    width: 100%;
    padding: .9rem 0;
    bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    background: #646464;}
  }

  ul.sub-menu {
    margin-left: 0;
    li {
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
      float: none;
      white-space:nowrap;
      clear:both;
      a {
        display:block;float:none;width:100%;
      }
    }
  }

    > li {
    display: table-cell;
    border-left: 1px solid #555555;
    text-align: center;
    vertical-align: middle;

    position: relative;
    &:hover {
      background: map-get($foundation-palette,'promary');
      > a {
        color: #fff;

      }
    }

    a {
      color: #d9d9d9;
      display: block;
      font-size: .8rem;
      padding: .5rem 0;
    }

    a:hover ~ ul {
      display: block;
    }
    > ul {
      position: absolute;
      float:left;
      width:auto;
      min-width:100%;
      top: 2.2rem;
      left:0;
      display: none;
      -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.55);
      z-index: 6;
      &:hover {
        display: block;
      }
      li {
        background: #fff;

        > a {
          color: #222;

          padding: 0.5rem 1rem 0.5rem 1rem;
          text-align: center;
          font-weight: 400;
          border-right: none;
          &:hover {
            background: #dedede;
          }

        }
      }
    }
  }
  li>ul li li {
    border-top:1px solid #ccc;
    text-transform: uppercase;
    a {
      color:#ccc;
      font-weight: bold;
    }
  }
  >li.menu-item-has-children >a:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.5rem;
  }
}

// next previous links
.next-prev-links {
  margin: 1rem;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;

  a {
    cursor: pointer;
    i {
      color: $anchor-color;
    }
  }
}
input.mobile-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 50px;
  opacity:0;

  cursor: pointer;
  &:checked {
    & ~ .mobile-navigation {
      display:block;
    }
  }
}
 #menu-mobile>li>a~i,  #menu-mobile>li>a~input[type=checkbox] {
  font-size: 1.4rem;
  position: absolute;
  padding-right: 1.2rem;
  padding-top: .55rem;
  right: 0;
  top: 0;}

#menu-mobile>li>a~input[type=checkbox]:checked~ul {
  display: block;
}
#menu-mobile>li>a~input[type=checkbox]~ul {
  display:none;

}
#menu-mobile ul { margin:0}
 #menu-mobile>li>a~ul>li>a {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  background: #f7f7f7;

}
 #menu-mobile>li>a~ul>li ul a {
  font-size: .9rem;
  background: #f7f7f7;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb!important;
}
#menu-mobile>li>a~input[type=checkbox] {
  opacity: 0;
  height: 2.9rem;
  width: 30%;
  cursor: pointer;
}
.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 43px;
  height: 51px;
  margin-right: .9875rem;
}

.menu-icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: #2b88d2;
  top: 13px;
  left: 0;
  box-shadow: 0 10px 0 #2b88d2, 0 20px 0 #2b88d2;
  border-radius: 5px;
}

input.mobile-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  z-index:5;
  &:checked {
    & ~ .mobile-navigation {
      display: block;
    }
  }
}

#mobile-menu {
  margin: 0;
  background: #fefefe;

  position: fixed;
  padding-top: 65px;
  z-index: 10;
  width: 100%;
  overflow: hidden;

  height: 100%;
  padding-bottom: 50px;
  #menu-mobile {
    margin-left:0;
    overflow: auto;
    height:100%;
    padding-bottom: 2rem;
    border-bottom: 2px solid #50c185;
    li {
      border-bottom: 1px solid #ebebeb;
      position: relative;
      list-style: none;
      &:hover{

      }
      a{
        padding: 10px 20px;
        color: #404040;
        display: block;

      }
      .box {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        color: #ccc;
        padding: 0 10px;
      }
      .sub-menu {
        background: #f7f7f7;
        margin: 0;
        display: none;
        &.show {
          display:block;
        }
      }
    }
    >li{
      >a {
        font-weight: 700;
      }
    }
  }
}
.search-mobile {
  background: #404040;
  text-align: center;
  padding: 1rem .5rem .5rem;
  #s {
    background: darken(#404040,20%);
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    line-height: 240%;
    height: 2.6rem;
    width: 100%;
    color: #395a46;
  }
}

@media (max-width: 64rem) {
.header {
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
}}
