.brmc-newsletter {
  text-align: center;
  .description {
    margin-left: 132px;
    color: #98989a;
    font-size: 0.7rem;
    font-style: italic;
    max-width: 280px;
    line-height: 1rem;
  }
  h3 {
    text-align: center;
  }
  .logo-wrapper {
    text-align: center;
  }
  .logo-wrapper img {
    max-height: 30px;
    margin-bottom:1rem;
    display:block;
  }
  small {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    color: $light-gray;

  }
  .email {
    padding:0.2rem 0.5rem;
    border-radius:2px;
    border:1px solid #fff;
    font-size:0.8rem;
    height:28px;
    min-width:280px;
    display:block;
    margin: 1rem auto;
  }
  .submit {
    margin-left:0.5rem;
    background:#38a063;
    border:1px solid #38a063;
    color:#f1f1f1;
    border-radius:2px;
    padding:0.2rem 0.5rem;
    font-size:0.8rem;
    height:28px;
    min-height: inherit;
    margin-bottom: 0.8rem;

    &:hover {
      background: #24a04a;
    }

    &.hollow {
      border:1px solid #38a063;
      background:transparent;
      color:#38a063;
    }
  }
  .geton-logo{    width: 120px; margin-right:0.5rem;}

  .logo-wrappers {
    margin:1rem 0;
    img {
      max-width:170px;
      margin-right:1rem;
    }

  }

}

.mc4wp-form-success {
  display: block;
  max-width: 100%;
  color: $success-color;
  text-align: center;
  margin-top: 1rem;
}

.mc4wp-error {
  background: $alert-color;
  color: $white;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 40rem){
  .brmc-newsletter  {
    text-align: left;

    .logo-wrapper {
      text-align: left;
      img {
        text-align: left;
        display:inline;
      }
    }
    .submit {
      margin-bottom:0;
    }
    h3 {
      text-align: left;
    }
    .email {display:inline; margin:0;}}
}