/* --------------------------------

Main Components

-------------------------------- */
ul.rm-accordion-menu li ul {
  background: #ededed;
}
ul.rm-accordion-menu li ul ul {
  background: #fff;
}

.rm-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
  font-size:14px;

}

.rm-accordion-menu li a span.num {
  color:green;
}
.rm-accordion-menu li a span.time {
   color:orange;
 }
.rm-accordion-menu li.event a  {
  color:#222;
}
.rm-accordion-menu .meeting {
  background:rgb(204,238,204);
}
.rm-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: none;
  list-style:none;
}
.rm-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.rm-accordion-menu label, .rm-accordion-menu a {
  position: relative;
  display: block;
  padding: 2px 5px;

}
.no-touch .rm-accordion-menu label:hover, .no-touch .rm-accordion-menu a:hover {
  background: #52565d;
}
.rm-accordion-menu label::before, .rm-accordion-menu label::after, .rm-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rm-accordion-menu label {
  cursor: pointer;
}

.rm-accordion-menu label::before {
  /* arrow icon */

  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.rm-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rm-accordion-menu input[type=checkbox]:checked + label + ul,
.rm-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.rm-accordion-menu  label,
.rm-accordion-menu  a {
  border-bottom:1px solid #ccc;
  padding-left:0.5rem;
}
.no-touch .rm-accordion-menu ul label:hover, .no-touch
.rm-accordion-menu ul a:hover {
  background: #3c3f45;
}

.rm-accordion-menu li.has-children label::after {
  right: 0.2rem;
  content: "\f107";
  font-family: FontAwesome;
  position:absolute;
  font-size:1.2rem;
  color:#ccc;
}
.rm-accordion-menu li.has-children  input[type=checkbox]:checked + label::after{
  content: "\f106";
}
