aside {
 .widget {
margin-bottom:1rem;
 }
  ul {
    margin-left:0;
    background:$white;
    li {
      position:relative;
      border-bottom: 1px solid #e8e8e8;
      font-size: 0.83rem;

      &:hover{
        //background: scale-color(#e8e8e8, $lightness: -74%);
      }


    }
  }
   h3{
    background:  map_get($foundation-palette,'primary');;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px 10px;
    font-size: 14px;
    margin-bottom:0;
    font-family: 'open sans',Arial,sans-serif;

  }

  h4{
    //font-size:$small-font-size;
    a {
      color:map_get($foundation-palette,'primary');
    }
  }
  .page_item {
    padding-left:0.5rem;

    a{
      color:$black;
      padding: 6px 4px 6px 6px;
      display:block;
    }
  }
  .menu {
    margin:0;
    ul {
      margin:0; padding:0;
    }
    li {
      list-style: none;
      padding:0;
      a {
        color: #3f3f3f;
        padding: 6px 4px 6px 6px;
        display: block;
      }
    }
  }
  ul.race-list { li {
    border-bottom:none;
    .time {
      color:map_get($foundation-palette,'success');
    }
    .number {
      color:map_get($foundation-palette,'warning');
      font-weight:500;
    }
    .title {font-weight:normal;}
  }

  }
}

#left-sidebar {
  h3 {    color: #fff;
    font-weight: 600;}

}


.widget_recent_entries {list-style: none;}
.widget_recent_entries li.row {margin:0;}
.widget_recent_entries .date{ color:#838383; font-size:75%; }
.widget_recent_entries li h4 {
  color: #404040;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-bottom:0;
  font-weight:400;
}
.widget_recent_entries li img {
  width:100%;
  padding: 0.6rem 0 0.6rem 0.6rem;
}
.widget_recent_entries li h4 a{ color:inherit;  }


.rm-menu {
  li a{ color: #3f3f3f;
    padding: 6px 4px 6px 6px;
    display: block;

  }
}