.banking-icon-wrapper {
  text-align: center;
.banking-icon-list {
  display: table;
  margin: 10px auto;
  li {
    display: block;
    background: #fff;
    text-align: center;
    width: 172px;
    height: 115px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    float: left;
    vertical-align: middle;
    padding-bottom: 37px;
    border: 1px solid #d3d3d3;
    padding-top: 0.7rem;


    .link-deposit {
      display: block;
      background: orange;
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      line-height: 37px;
    }
}
}}