
.bookmakers-list-sidebar {
  list-style: none;
  #ladbrokes-australia-sport{background:#d1242b ;}
  #topbetta-sport {background:#26ab33 ;}
  #betfair-sport {background:#fdb72f ;}
  #madbookie-sport {background:#252525 ;}
  #unibet-sport {background:#1c7a47;}
  #sportsbet-sport {background:#1381e2;}
  #crownbet-sport {background:#8c5bad;     border-right: 5px solid #fff;
    border-radius: 0 0 100px 0;}
  #william-hill-sport {background:#0c457c;}
  #luxbet-sport {background:#b31e3c;}
  #bet365-sport {background:#027b5c;}
  #palmerbet-sport {background:#393a40;}
  > li {
    margin-bottom:0;
  }
  margin-left:0;
  .top-banner {
    background:map_get($foundation-palette,'primary');
    padding:0.2rem 0.6rem 0.6rem;


      .img-wrapper {
        float: left;
          .bet-logo {
            max-height:20px;
            width:auto;
          }
      }
      .links {
        text-align: right;

        .sign-up{
          border: 2px solid #fff;
          text-transform: capitalize;
          color: #fff;
          background: #fa9621;
          border-radius: 4px;
          text-decoration: none;
          padding: 2px 12px;
          font-weight: 600;
          margin-top: 1.3rem;
          display: inline-block;
          @include breakpoint(medium only){
            margin-top: 3.5rem;
          }

        }
        .review-link {
          padding-right: 10px;
          color: #ffe082;
          font-size: 12px;
          text-transform: capitalize;
          display:block;
          margin-bottom:10px;
        }
      }
      .welcome-bonus{

        margin-top:0.5rem;
        line-height: 1.2rem;
        text-align: left;
        color:$white;
        position:absolute;
        bottom:1.2rem;
        font-size:0.9rem;
        @include breakpoint(medium only){
          bottom: 3.6rem;
        }

        strong {
          text-decoration: underline;
          text-transform: uppercase;
        }
      }
  }


}



