
ul.bookmakers-list-today {
  list-style: none;
  #ladbrokes{background:#d1242b ;}
  #topbetta {background:#26ab33 ;}
  #betfair {background:#fdb72f ;}
  #madbookie {background:#252525 ;}
  #unibet {background:#1c7a47;}
  #sportsbet-sport {background:#1381e2;}
  #crownbet-sport {background:#8c5bad;}
  #william-hill-sport {background:#0c457c;}
  #luxbet-sport {background:#b31e3c;}
  #bet365-sport {background:#027b5c;}
  #palmerbet-sport {background:#393a40;}
  > li {
    margin-bottom:$global-margin;
  }
  margin-left:0;
  .top-banner {
    background:map_get($foundation-palette,'primary');
    padding:0.8rem 0;
    @include breakpoint(medium up) {
    padding:0.4rem 0;}
    @include flex-grid-row();
    @include flex-align(null,'middle');
      .img-wrapper {
        @include flex-grid-column(4);

          .bet-logo {
            max-height:20px;
            width:auto;
          }
      }
      .links {
        text-align: right;
        @include flex-grid-column(8);
        @include breakpoint(medium up) {
          @include flex-grid-column(4);
          @include flex-order(3);
        }
        .sign-up{
          text-transform: capitalize;
          color: #fff;
          background: #fa9621;
          border-radius: 4px;
          text-decoration: none;
          padding: 2px 12px;
          font-weight: 600;
        }
        .review-link {
          padding-right: 10px;
          color: #ffe082;
          font-size: 12px;
          text-transform: capitalize;
        }
      }
      .welcome-bonus{
        @include flex-grid-column(12);
        margin-top:0.5rem;
        @include breakpoint(medium up) {
          @include flex-grid-column(4);
          @include flex-order(2);
          margin-top:0;
        }
        text-align: center;
        color:$white;
        font-size:0.9rem;

        strong {
          text-decoration: underline;
        }
      }
  }

  .description {
    @include flex-grid-row();
    border:1px solid #e8e8e8;
    background:#fff;
    padding:0.5rem;
    .availability {
      font-size: 0.9rem;
      @include hide-for-only('small');
      img {height:35px;}
      @include breakpoint(medium up) {
      @include flex-grid-column(2);
      text-align: center;
    }}
    .features {
      @include flex-grid-column(12);
      @include breakpoint(medium up) {
        @include flex-grid-column(4);
        border-right:1px solid #e8e8e8;
      }
      ul {

        list-style: none;
        padding-left: 0;
        margin-left: 15px;
        li {
           &.cons:before{
             content: "\f058";
             color: #da0913;
           }
          margin-left:0;
          &:before {
            content: "\f058";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            color: #46da3b;
            padding-right: 5px;
            margin-left:-15px;
          }
        }
      }
    }
    .offer {
      line-height:1.3rem;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
      @include flex-grid-column(12);
      @include breakpoint(medium up) {
        @include flex-grid-column(6);
        border-right:1px solid #e8e8e8;
        margin-top:0;
        margin-bottom:0;
      }
      .title {
        display: block;
        font-weight: 800;
        color: #757575;
        font-size: 150%;
        text-transform: uppercase;
        font-style: italic;
      }
      .bonus {
        color:#019b25;
        text-decoration: underline;
        font-size:0.9rem;
        font-weight:700;
      }
    }

  }
}
