.casino-promo-list {
  background:#fff;
  border:1px solid #e8e8e8;
  margin-left:0;
  >li {
    @include flex-grid-row();
    border-bottom:1px solid #e8e8e8;

    @include flex-align('left','middle');
    >div {
    @include breakpoint(large up) {



    }}
  }
  .rank {
    color: #ccc;
    font-weight: normal;
    border-right: 1px solid #e8e8e8;
    padding-right: 0.65rem;
    margin-right: 0.65rem;
  }
  .title {
    color:#1a8dc5;
font-weight:600;
    @include flex-grid-column(11);
    border-right: 1px solid #e8e8e8;
    @include breakpoint(large up) {
      @include flex-grid-column(4);
      border-right: none;

    }
  }
  .promotion {
    @include flex-grid-column(12);
    display:none;
    div {min-height:47px;}
    @include breakpoint(large up) {
      @include flex-grid-column(7);
      @include flex-order(3);
      display:flex;
      border-right:1px solid #e8e8e8;
      border-left:1px solid #e8e8e8;
      min-height:47px;
    }
  }
  .call-to-action {
    padding:0!important;
    @include flex-grid-column(1);
      text-align: center;
    @include breakpoint(large up) {
      @include flex-grid-column(1);
      @include flex-order(4);

      border-right:none;
    }
    .action-button{
      display:none;
      background: #ffa037;
      color: #fefefe;
      font-weight: 600;
      border-radius: 3px;
      padding: 3px 8px;
      text-shadow: 1px 1px #636161;
      border-bottom: 2px solid #c17426;
      font-size: 0.9rem;
      @include breakpoint(large up) {
        display:inline-block;
      }

    }
    .small-action {
      display:inline;
      padding: 0rem 0.55rem;
      background: #24b740;
      border-radius: 100%;
      color: #fff;
      @include breakpoint(large up) {
        display:none;
      }
    }
  }
}


