ul.race-list {
  li {
    border-bottom: none;
    .time {
      color: map_get($foundation-palette, 'success');
    }
    .number {
      color: map_get($foundation-palette, 'warning');;
      font-weight: 500;
    }
    .title {
      font-weight: normal;
    }
  }

}
