.main-content footer {clear:both;}
.recent-rm-news .news-ul {
list-style:none;
margin-right:0;
margin-left:0;
}
.recent-rm-news .news-ul  li {
    border-bottom: 1px solid #f1f1f1;
    color: #5c5c5c;
    position: relative;
}
.recent-rm-news ul.news-ul li a {
    color: #0a0a0a;
}
.recent-rm-news ul.news-ul li p {
    font-size:0.8rem;
}
.recent-rm-news .news-ul .description {
background:#fff;
padding-top:0.5rem;
}
 .recent-rm-news .button{
	display: block;
    text-align: center;
    background: #0c88d4;
    border-bottom: 2px solid #0a6daa;
    text-transform: uppercase;
    border-radius: 0;
    color: #fefefe;
    font-weight: 600;
    padding: .4rem 1rem;
width:100%;
}
@media (min-width: 600px) { .recent-left {float:left; max-width:50%; margin-right:1rem; }
.recent-right:after ,.recent-left:after {clear:both;}
.recent-right {float:right; margin-left:1rem;max-width:50%; }}