.rm-menus  ul {
  margin-top:$global-margin;
  list-style: none;
}
.rm-menus  ul li a {
  color:#dad8d8;
}
.rm-menus  ul li a:hover {
  color:#fff;
}
.rm-menus div:first-child ul li a {
  text-transform: uppercase;
  font-weight: 700;
}

.rm-menus div:nth-child(n+2)  {
  @include breakpoint(small only) {
  background-color: #000;}
}

