.social-list-wrapper {position:relative; text-align: center; margin:0 auto;}
.social-list  li {
  list-style: none;
  display: inline-block;
  border: 2px solid #c6c6c6;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 10px 5px;
  text-align: center;
  font-size: 1.2rem;


}
ul.social-list {
  position:relative;
  z-index:2;
  display: inline;
  margin-left:0;
}
.social-list  li a {
  color:#c6c6c6;
}
.social-list  li a:hover {
color: scale-color(#c6c6c6, $lightness: -14%);

}

