

.sport-bookmakers {
  list-style: none;
  border:1px solid #e8e8e8;
  >li:nth-child(odd){
    background:#f5f7f9;
  }
  #ladbrokes {
    background: #d1242b;
  }

  #topbetta {
    background: #26ab33;
  }

  #betfair {
    background: #fdb72f;
  }

  #madbookie {
    background: #252525;
  }

  #unibet {
    background: #1c7a47;
  }

  #sportsbet-sport {
    background: #1381e2;
  }

  #crownbet-sport {
    background: #8c5bad;
  }

  #william-hill-sport {
    background: #0c457c;
  }

  #luxbet-sport {
    background: #b31e3c;
  }

  #bet365-sport {
    background: #027b5c;
  }

  #palmerbet-sport {
    background: #393a40;
  }
  margin-left: 0;
  .bookmakers-header {
    @include flex-grid-row();
    width:100%;
    background: #2ab0f7!important;
    color: $white;
    text-align: center;
    @include hide-for-only('small');

    .rank-header {
      @include flex-grid-column(1);
      @include breakpoint(medium down) {
        display:none!important;
      }
    }
    .bookmaker-header {
      @include flex-grid-column(2)
    }
    .bonus-header {
      @include flex-grid-column(3)
    }
    .pro-header {
      @include flex-grid-column(4)
    }
    .signup-header {
      @include flex-grid-column(2);
      @include breakpoint(medium only) {
        @include flex-grid-column(3);
      }
    }
  }
  .rank {
    text-align: center;
    @include breakpoint(medium down) {
      display:none!important;
    }
    @include flex-grid-column(1);
  }
  .bookmakers {
    @include flex-grid-column(12);
    padding: 0;
    @include breakpoint(medium up) {
      @include flex-grid-column(2);
    }
    .img-wrapper {
      padding: 0.5rem;

      @include breakpoint(medium up) {
        padding: 1.2rem!important;
      }
      .action-button {
        @include show-for-only('small');
        float: right;
      }
      img {

      max-height:25px;
        width: auto;
      }

    }
  }
  .bonus {
    @include flex-grid-column(12);
    @include breakpoint(medium up) {
      @include flex-grid-column(3);
    }
    .title {
      margin-top:0.5rem;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      color:#46da3b;
      font-weight:600;
    }
    .summary {
      font-size:0.8rem;
      @include hide-for-only('small');
      @include flex-grid-row();
      text-align: center;
    }
  }
  .pro {
    padding:0.7rem;
    font-size:0.8rem;
    @include flex-grid-column(12);
    @include breakpoint(medium up) {
      @include flex-grid-column(4);
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 15px;
      li {

        margin-left: 0;
        &:before {
          content: "\f058";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          color: #46da3b;
          padding-right: 5px;
          margin-left: -15px;
        }
        &.cons {
          &:before {
            content: "\f057";
            color: #da0913;
          }
        }
      }
    }
  }
  .call-to-action {
    text-align:center;
    @include flex-grid-column(12);
    @include breakpoint(medium only) {
      @include flex-grid-column(3);
    }
    @include breakpoint(large up) {
      @include flex-grid-column(2);
    }
    .action-button {
      margin-top:0.5rem;
    @include hide-for-only('small');
    }
    .review-link {
      color:#00a8ef;
      font-size:0.8rem;
      margin-top:0.5rem;
      text-decoration:underline;
      margin-bottom:0.5rem;
      display:block;

    }
  }
  > li {
    background: #fff;
    @include flex-grid-row();
    @include flex-align('center', 'middle');
  }
  .action-button {
    text-transform: capitalize;
    color: #fff;
    background: #fa9621;
    border-radius: 4px;
    text-decoration: none;
    padding: 0 1.1rem 0.1rem;
    font-weight: 400;
    font-size: 0.9rem;
  }

}
