.right {float:right;}
.left {float:left;}
.show {display:block;}
.hide {display:none;}
h2 {

  font-weight:bold;
  font-size:1.2rem;
}
input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.highlight-box {
background:#e1e1e1;
  border-radius:6px; padding:1rem;
  margin-bottom:1rem;
  text-align: center;
  h1 {
    color:#037b5d;
    font-size:1.7rem;
    text-transform: uppercase;
  }
}

figure {
  max-width: 100%!important;
}


.dc-social.row {
  margin:1rem 0;
  text-align: left;
  a {padding:0.4rem 1rem;
    &:hover {
      color: #b9e5ff;
    }
  }

}

.facebook-button {
  color:#fff;
  background: #0a61cc;
}

.twitter-button {
  color:#fff;
  background: #1fb7da;
}



@function in-list(
  $needle,
  $haystack
){
  @return not not index($haystack, $needle);
}

///
/// Select middle child
///
/// @param {Number} $max-children - The maximun number of children expected.
/// NOTE: Be as specifc as possible, as the value directly correlates to the
/// the length of the selector
/// @param {String} $when-even ['both'] - The element to be deemed "middle" when an even
/// number of children is present. Possible values: `before`, `after`, `both`, `none`
///
/// @return {List} - A list of selectors
///
@function middle-child(
  $max-children,
  $when-even: 'both',
  $base-selector: "&"
){
  $selector: join((),(),comma);

  // It is possible to select the middle child
  // of all of an element's direct descendants
  // by setting the base selector
  // $base-selector: "& > *";

  @for $i from 1 through floor($max-children/2+1) {
    $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i})");

    $selector: append($selector, "#{$base-selector}:nth-child(#{$i + 1}):nth-last-child(#{$i - 1})");
    $selector: append($selector, "#{$base-selector}:nth-child(#{$i - 1}):nth-last-child(#{$i + 1})");
    $selector: append($selector, "#{$base-selector}:nth-child(#{$i - 2}):nth-last-child(#{$i + 2})");

    @if not in-list($when-even, ('before', 'none')) {
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i - 1})");
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i - 3})");
    }

    @if not in-list($when-even, ('after', 'none')) {
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i + 1})");
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i + 3})");}
  }

  @return $selector;
}

@function middle-child-first(
  $max-children,
  $when-even: 'both',
  $base-selector: "&"
){

  $selector: join((),(),comma);

  // It is possible to select the middle child
  // of all of an element's direct descendants
  // by setting the base selector
  // $base-selector: "& > *";

  @for $i from 1 through floor($max-children/2+1) {

    $selector: append($selector, "#{$base-selector}:nth-child(#{$i - 2}):nth-last-child(#{$i + 2})");

    @if not in-list($when-even, ('before', 'none')) {

      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i - 3})");
    }


  }

  @return $selector;
}
@function middle-child-last(
  $max-children,
  $when-even: 'both',
  $base-selector: "&"
){

  $selector: join((),(),comma);

  // It is possible to select the middle child
  // of all of an element's direct descendants
  // by setting the base selector
  // $base-selector: "& > *";

  @for $i from 1 through floor($max-children/2+1) {

    $selector: append($selector, "#{$base-selector}:nth-child(#{$i - 2}):nth-last-child(#{$i + 2})");



    @if not in-list($when-even, ('after', 'none')) {

      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i + 3})");}
  }

  @return $selector;
}

.author-description {
  margin: 1rem 0;
  background: #fff;
  padding: 1rem;
  font-size: .9rem;
  color: #585757;
}