.odd-quick-links {
  border: 1px solid #e8e8e8;
  margin: 0.65rem -0.65rem 0 -0.65rem;
  background: #619a65;
  @include breakpoint(medium up) {
   margin:0;
  }
  li {

    display: inline-block;
    border-right: 1px solid $light-gray;
    padding: 2px 10px;
    @include breakpoint(medium up) {
      padding: 2px 25px;
    }
    a {
      color: #fff;
    }
    &:first-child {
      background: #f7f7f7;
      position: relative;
      border: none;
      text-transform: uppercase;
      font-style: italic;
      svg {
        position: absolute;
        height: 29px;
        width: 20px;
        right: 0;
        top: 0;

      }

    }

  }
}
#rm_odd_table_wrap {margin-bottom:1rem;
 a{ text-decoration: none;}
}
.oc-event-box {
  background: #fff;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  color: #6c6c6c;
  overflow: hidden;
  margin-left:-0.65rem;
  margin-right:-0.65rem;
  margin-bottom: 1rem;
  @include breakpoint(large up) {
     margin:0 auto;
  }
  @include breakpoint(large up) {
    border-top: 1px solid #dedede;
    margin-bottom: 2rem;
  }
  .ladbrokes {
    background: #d1242b;
  }
  .topbetta {
    background: #26ab33;
  }
  .betfair {
    background: #fdb72f;
  }
  .madbookie {
    background: #252525;
  }
  .unibet {
    background: #1c7a47;
  }
  .sportsbet-sport {
    background: #1381e2;
  }
  .crownbet-sport {
    background: #8c5bad;
  }
  .william-hill-sport {
    background: #0c457c;
  }
  .luxbet-sport {
    background: #b31e3c;
  }
  .bet365-sport {
    background: #027b5c;
  }
  .palmerbet-sport {
    background: #393a40;
  }
  .tab-nsw {
    background: #018752;
  }
  .tab-vic {
    background: #018752;
  }

  /* GENERAL*/
  .oc-row {
    @include flex-grid-row();
    .oc-row {
      align-items: center;
      @include breakpoint(large up) {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
      }
      margin-left: -0.652rem;
      margin-right: -0.652rem;
    }
  }
  .oc-columns {
    flex: 1 1 0px;
    padding-left: .625rem;
    padding-right: .625rem;
    min-width: 0;
    @include breakpoint(large up) {
      padding-left: .9375rem;
      padding-right: .9375rem;
    }
  }
  .show {
    display: flex;
  }
  .oc_p{display: none;}

  /* header-odd */
  .oc-header {
    background: #fff;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left:0;
    padding-right:0;
    @include breakpoint(large up) {
      background: #f4f4f4;
      border-bottom: 1px solid #e8e8e8;

    }
    .header-box {
      max-width: none;

      @include flex-align('left', 'middle');
      .weather-box {

        align-self: center;
        @include flex-grid-column(2);
        @include breakpoint(large up) {
          @include flex-grid-column(6);
          display: block;
          padding: 0 !important;

        }
        text-align: right;

        ul {
          list-style: none;
          margin :0.2rem 0.2rem 0 0;
          display: none;
          @include breakpoint(large up) {
            display: inline-block;
          }

          li {
            border: 1px solid #e8e8e8;
            background: #fff;
            font-size: 0.8rem;
            padding: 0 10px;
            margin-bottom: 0.2rem;
            text-align: left;
            .data {
              color: map_get($foundation-palette, 'secondary');
              float: right;
              padding-left: 2rem;

            }
          }
        }
        .expend-race {
          color: #ccc;
          display:block;
          font-size: 1.4rem;
          @include breakpoint(large up) {
            display: none;
          }
        }
      }
      .event-title {

        padding: 0.5rem;
        @include flex-grid-column(10);
        @include breakpoint(large up) {
          @include flex-grid-column(6);

        }
        h3 {
          color: $black;
          text-transform: capitalize;
          font-size: 1.1rem;
          float: left;
          margin:0.4rem 0;
          @include breakpoint(large up) {
            float: none;
          }
        }
        h4 {
          color: $light-gray;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 0.9rem;
          display: none;
          margin:0.4rem 0;
          @include breakpoint(large up) {
            display: block;
          }

        }
        .event-date-title {
          color: #00AA00;
          font-weight: 600;
          float: right;
          font-size: 1.1rem;
          @include breakpoint(large up) {
            display: none;
          }
        }
      }
    }
  }
  .oc-details {
    display: none;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    &.show-me {
      display: flex;
    }
    @include breakpoint(large up) {
      display: flex;
    }

    .oc-event-data {
      @include flex-grid-column(12);
      padding: 0.5rem 0;
      @include breakpoint(large up) {
        @include flex-grid-column(6);
        padding-bottom: 0;
      }
.oc-race {
  @include flex-grid-column(8);
  padding-left: 1.2rem;
  @include breakpoint(medium up) {
    display:none;
  }
  h4 {
    color:#818181;
    font-size:1rem;
    text-transform: capitalize;

  }
  span { font-size:0.9rem;}

}
      .oc-date {
        display:none;
        @include breakpoint(medium up) {
          display:block;
           @include flex-grid-column(7);}
        font-size: 0.9rem;
        i {
          color: #ffa037;
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }
      .win-place {

        @include flex-grid-column(4);

        @include breakpoint(medium up) {


          @include flex-grid-column(5);}
        ul {
          list-style: none;
          margin-bottom: 0;

          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-align-items: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          float: right;
          padding-right: 0.5rem;
          li {
            border-radius: 0;
            font-size: 0.8rem;
            text-transform: uppercase;

            display: inline;
            padding: 0.1rem 0.4rem;
            background-color: #ffae00;
            border: 2px solid #ffae00;
            a {
              color: #fefefe;

            }
            &:first-child {
              border-radius: 6px 0 0 6px;

            }
            &:last-child {
              border-radius: 0 6px 6px 0;

            }

            &.outline {
              background:#fefefe;

              a {
                color: #ffae00;

              }
            }
          }
        }
      }


    }
    .oc-bookmakers-list {
      display: none;
      @include breakpoint(large up) {
        @include flex-grid-column(6);
        display: flex;
      }
      > .oc-row > .oc-columns {
        padding-top: 2px;
        padding-bottom: 5px;
      }
    }
  }
  .oc-freebet {
    display: none;
    border-bottom: 1px solid #dedede;
    background: #f4f4f4;
    @include breakpoint (large up) {
      display: flex;
    }
    .oc-bookmakers-bet {
      @include flex-grid-column(6);
      color: $white;
      font-size: 0.9rem;
      > .oc-row > .oc-columns {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
      }
    }
    .oc-book-makers-text {
      @include flex-grid-column(6);
      .free-text {
        text-align: right;
        display: block;
        width: 100%;
        padding-right: 0.5rem;
      }

    }
  }
  .oc-bet-buttons {
    display: none;
    border-bottom: 1px solid #dedede;

    @include breakpoint (large up) {
      display: flex;
    }
    .bet-text { text-align:right;}
    .oc-bookmakers-bet {
      @include flex-grid-column(6);
      color: $white;
      font-size: 0.9rem;
      a {
        color: $white;
      }
      > .oc-row > .oc-columns {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center;
      }
    }
    .oc-bet-buttons-text {
      @include flex-grid-column(6);
      .free-text {
        text-align: right;
        display: block;
        width: 100%;
        padding-right: 0.5rem;

      }

    }
  }
  .oc-competitors-list {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    display:none;
     //display:none;
    &.show-me {
     display:block;
    }
    @include breakpoint(large up){
      display:block;
    }
    .oc-competitor {
      border-bottom:1px solid #ededed;
      flex: 0 0 100%;
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
      border-bottom: 1px solid #ededed;

      .oc-competitor-details {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;

        @include breakpoint(large up){
          flex: 0 0 50%;
          max-width: 50%;
        }
        >.oc-row {
          margin-left:0;
          margin-right:0;
        }
        .competitor-info {
          flex: 1 1 0px;
          min-width: 0;

          align-items: center;

          .silk {

            float: left;
            display: block;
            width: 33px;
            margin: .4rem 0.4rem 0.4rem 0.4rem;

          @include breakpoint(small){
            width: 20px;
          }
          }
          .competitor-details {
            float:left;
            font-size: 0.8rem;
            color: #363636;
            max-width: 9.2rem;
            margin:0;

            display: flex;
            flex-flow: row wrap;
            min-height:38px;
            .racing-sub-info {
              width:100%;
            }
            .racing-details {

              align-self: center;
            }
          }
          .sparkline {
            float:right;
            max-width: 40px;
            overflow: hidden;
            padding-top:0.4rem;
            @include breakpoint(large up){
              margin-right: 0.4rem;
            }
          }
          .expend-bets  {
            background: #ffae00;
            color: #fefefe;
            float:right;
            height: 22px;
            padding:.2rem 0.3rem;
            text-align: center;
            cursor: pointer;
            border-radius: 6px;
            display:block;
            border-bottom:2px solid #F77832;
            margin-right: 0.4rem;
            margin-top:0.5rem;
            @include breakpoint(large up){
              display:none;
            }
          }
          .best-bet {float:right;

            border-left: 1px solid #ccc;
            min-height:38px;
            color: #000;
            font-weight: 600;

            font-size: .7rem;
            width: 106px;
            overflow: hidden;
            display:block;
            padding-top: 0.55rem;
                @include breakpoint(medium down){
                  width: 90px;
                  border-left: none;

                 a{
                color:$black;
                 }
            }

            text-align: right;
            .best-bet-title {
              @include breakpoint(large up){
                display:none;
              }
            }
            img {
              padding-left: 0.4rem;
              max-width: 45px;
              margin-right: 0.4rem;

              @include breakpoint(large up){
                display:inline;
                max-width: 60px;
              }
            }
          }
        }

      }
    }
    .agency-bets-list{
      flex: 0 0 100%;
      max-width: 100%;
      display:none;
      &.show-me {
        display:block;
      }
      @include breakpoint(large up){
        flex: 0 0 50%;
        max-width: 50%;
        display:block
      }
      .place {display:none;}
      .ab-box {
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        align-items: center;


        @include breakpoint(medium down){
        border-left: 3px solid #ffae00;

          background: #f4f4f4;}
        > .oc-columns {
          font-size: 0.8rem;
          text-align: center;
          border-left: 1px solid #dedede;
          height: 100%;
          padding-top: 0.9rem;
          min-height:38px;
          position:relative;



          @include breakpoint(medium down){ -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            border-bottom: 1px solid #dedede;
            text-align: right;
            padding: 0.4rem 0.4rem;
            height: auto;
            font-weight: 600;
            font-size: 1.0rem;
          }
          img {
            float:left;
            max-width:56px;
            @include breakpoint(large up){display:none;}
          }
          .bet-button {
            @include breakpoint(large up){display:none;}
            font-size: 80%;
            background: #49be43;
            color: #fff;
            font-weight: normal;
            border-radius: 6px;
            padding: 0.2rem 0.8rem;
            border-bottom: 1px solid #2f5212;
            margin-left: 1rem;
          }
        }
      }

    }
  }
}
