



.home {
  .latest-news {
    margin-bottom: 1rem;
    ul {
      margin: 0;
      border: 1px solid #e8e8e8;
      > li {
        background: #fff;
        padding: 0;
        border-bottom: 1px solid #e2e2e2;
        position:relative;
        .img-wrapper {
          background: #dedede;
        }
        img {
          @include breakpoint(medium up) {
            xmin-height: 100%;
          }
        }
        .link-title {

          color: #404040;
          padding: 10px 10px 10px 0.5rem;
          overflow: hidden;
          font-weight: 700;
          font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
          line-height:1.2rem;

          @include breakpoint(small) {

            overflow: hidden;
          }
        }
        .date {
          font-size: .7rem;
          color: #898989;
          padding: 10px;
        }
      }
    }

  }

}



  .recent-news
  {
    padding:0 0 1.875rem;
    margin-bottom:1.875rem;
    .archive-item:nth-child(n+5) {
      display: none;
    }
  }
  h3.title {
    border-top:1px solid #1c8ad1;
    color:#1c8ad1;
    font-family: 'Open Sans',Arial, Tahoma, sans-serif;
    font-weight:normal;
    font-size:1.0rem;
    text-transform: uppercase;
    padding:0.5rem;
    background:#f8f8f8;
    margin-bottom:0;

  }
.archive-item a:hover .desc,.featured .desc:hover,ul.race-list li:hover,.home .latest-news ul>li:hover,.archive-item .desc:hover ,.content-box a:hover .desc,.more-news a:hover .desc,.media-section:hover,.rm-menu li:hover {
  background: #dedede;
}

.content-box {
  list-style: none;
  h3 {
    font-family:'Open Sans Condensed',Arial, Tahoma, sans-serif;
  }

   a {
     display: flex;
     flex-flow: row wrap;
     max-width: none;
     margin-left: -.625rem;
     margin-right: -.625rem;
   }
  .desc {
    padding:0.8rem 0.5rem;
    background:#fff;
    border-bottom:1px solid #d6d6d6;
  }
}
.recent-news {margin-bottom:2rem; order:2;}
.recent-news .description{display:none;}


@media #{$large-up} {
  .content-box-wrapper ul{
    margin-bottom:0;
  }
   .recent-news {
    padding:0 0.9875rem 0;
    .description{display:inline-block;}
    .archive-item:nth-child(n+5) {
      display: block;
    }
  }
.featured-wrapper {  margin-bottom:0.9875rem;}
  .content-box {
    margin-bottom:1.875rem;
      a {
        display:inline;
        margin:0;
       }
      .desc {
        height:154px;
        overflow:hidden;
      }

  }

}
@media #{$small-only} {

  .latest-news {
    ul {
      >li {
        .link-title {
          &.first {
            position:absolute;
            bottom:0;
            background:rgba(0,0,0,0.4);
            color:#fefefe;
left:0;
            line-height: 100%;
            padding: 1rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}