.archive-item {
  background:$white;
  border-bottom:1px solid #dedede;
  margin-left:0!important;
  margin-right:0!important;
  width:100%;

  font-size:0.8rem;
  h3 {
    font-family:'Open Sans Condensed','open sans',sans-serif;
  }
  time {
    color:$success-color;
    margin-right:0.2rem;
  }

  .desc {
    padding:0.9375rem;
    div {
    color:$black;}
  }
}
@media (max-width: 30rem){
  .main {
  .archive-item {
   .img-wrapper{
     display:none;
   }
    .desc{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }}
}