.casino-review-feature {
  background: #f3f3f3;
  padding: 0.6rem 0 0.9rem;
  border: 1px solid #cccccc;

  h2 {
    border: none;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
  .casino-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .visit-butt {
    background: #2eb27a !important;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #fff;
    line-height: 34px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .bonus {
    margin: 15px 0 10px;
    background: #e1e1e1;
    padding: 0.6rem;
    border-radius: 8px;
    text-align: center;

    font-weight: bold;

    .title {
      color: #0d72b6;
      font-size: 1.1rem;
    }
    .data {
      color: #2d2d2d;
      font-size: 1.1rem;
    }
    .visit-link {
      display: block;
      text-align: center;
      text-decoration: underline;
      color: #2eb27a;
      font-size: 0.9rem;
    }
  }
  .casino-description {
    line-height: 1rem;
  }
  .rank {
    color:#0d72b6;
    .fa {
      font-size: 1.2rem;
    }
  }
  .title {
    color: #4d4d4d;
    font-size: .8rem;
    padding-right: 5px;

    font-weight: bold;
  }
  .data {
    color: #818181;
    font-size: .8rem;
    padding-right: 5px;

  }
  .country-small {
    text-transform: uppercase;
    color: #a3a3a3;
    margin-top: 8px;

    img {
      max-width: 38px;
      margin-right: 5px;
    }
  }
}
.gallery-list.owl-carousel {
  //display:flex;
}
.gallery-list.owl-carousel>div {
 // flex: 1 1 0;
  //display:flex;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .casino-review-feature .bonus .data, .casino-review-feature .bonus .title, .casino-review-feature h2 {
    font-size: 1rem;

  }
  .casino-review-feature .country-small {
    font-size: 0.62rem;
  }
  .casino-review-feature .rank .fa {
    font-size: 1.0rem;
  }
  .casino-review-feature .visit-butt {

    margin-right: 0;
    margin-left: 0;

    font-size: 1.0rem;
  }
}

.review h2 {
  border-bottom: 2px solid #e1e1e1;
  margin-top:0.5rem;
  padding-bottom:0.4rem;
}